doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")
		
		title InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.active.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-contacts
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.panels-wrapper
					h1 Архив
					.panel
						
						.panel-header
							.form-group.page-archive-panel-form-keyword
								input.fg-input.icon.icon-search(type="text" placeholder="Ключевое слово")
							.form-group.page-archive-panel-form-keyword
								input.fg-input.icon.icon-search(type="text" placeholder="Номер телефона")
							.pull-right
								.form-group.fg-labeled.page-archive-panel-form-keyword
									label От
									input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите дату")
								.form-group.fg-labeled.page-archive-panel-form-keyword
									label До
									input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите дату")
								.form-group.fg-submit
									input(type="submit" value="")
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Номер
											th.sortable Дата
											th(style="width: 50%;").sortable Сообщение
											th.sortable Оператор
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
									tr
										td 996775775775
										td 29.03.2015 21:23:32
										td Текст...
										td Имя Оператора
										td
											button.data-menu(data-modal="#modal-extra")
								ul.pagination
										li.disabled: a(href="#").first &middot;&middot;&middot;
										li.disabled: a(href="#").prev «
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#").next »
										li: a(href="#").last &middot;&middot;&middot;
		
		
		.modal.white-popup.mfp-hide#modal-extra
			.modal-header
				p Дополнительные поля
			.modal-content
				.data-table
					table
						thead
							tr
								th Имя
								th Тип
								th(style="width:60%;") Значение
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
									
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						tr
							td Назменование
							td Строка
							td
								.form-group
									input.fg-input(type="text" value="Значение")
						
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
		
		
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		script(src="assets/js/main.js")
		