doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")

		title Автоответчик — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-menu
					.menu.menu-left
						.menu-item
							button(data-modal="#modal-add-autoreply").icon.icon-plus Добавить сообщение автоответчика
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panel
						.panel-header
							p Нет операторов
							button.button-circle.button-add(data-modal="#modal-add-autoreply")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Сообщение автоответчика
									tr
										td Здравствуйте! Вас приветствует компания...
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									
					.panel
						.panel-header
							p Перерыв
							button.button-circle.button-add(data-modal="#modal-add-autoreply")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable(style="width:70%;") Сообщение автоответчика
											th.sortable С
											th.sortable По
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td 00:00
										td 00:40
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
								
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
									
									
					.panel
						.panel-header
							p Выходной
							button.button-circle.button-add(data-modal="#modal-add-autoreply")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable(style="width:70%;") Сообщение автоответчика
											th.sortable День недели
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
									tr
										td Здравствуйте! Вас приветствует компания...
										td Суббота
										td
											button.edit(data-modal="#modal-edit-autoreply")
											button.remove
								
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
		
		
		
		.modal.modal-narrow.white-popup.mfp-hide#modal-add-autoreply
			.modal-header
				p Добавить сообщение автоответчика
				
			.modal-content
				.form-group
					label Тип автоответчика
					select#modal-add-autoreply-type.fg-input
						option(value="no-operators") Нет операторов
						option(value="lunchtime") Перерыв
						option(value="weekend") Выходной
			
				.row
					.col-xs-6
						.form-group
							label С
							input.fg-input.fg-date.timepicker(data-format="H:i" type="text" placeholder="Выберите время")
					.col-xs-6
						.form-group
							label По
							input.fg-input.fg-date.timepicker(data-format="H:i" type="text" placeholder="Выберите время")
				
				
				.form-group
					label День недели
					select.fg-input
						option Понедельник
						option Вторник
						option Среда
						option Четверг
						option Пятница
						option Суббота
						option Воскресенье
						
						
						
				.form-group.fg-last
					label Сообщение автоответчика
					textarea.fg-input(placeholder="Введение сообщение автоответчика")
					
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Добавить
				
		.modal.modal-narrow.white-popup.mfp-hide#modal-edit-autoreply
			.modal-header
				p Добавить сообщение автоответчика
				
			.modal-content
				.form-group
					label Тип автоответчика
					select#modal-add-autoreply-type.fg-input
						option(value="no-operators") Нет операторов
						option(value="lunchtime") Перерыв
						option(value="weekend" selected) Выходной	
				
				.form-group
					label День недели
					select.fg-input
						option Понедельник
						option Вторник
						option(selected) Среда
						option Четверг
						option Пятница
						option Суббота
						option Воскресенье
						
						
						
				.form-group.fg-last
					label Сообщение автоответчика
					textarea.fg-input(placeholder="Введение сообщение автоответчика") Здравствуйте! Вас приветствует компания...
					
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.multiple.select.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		
		script(src="assets/js/main.js")
		