doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		
		title InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		script(src="assets/js/pace.js")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a.active(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-chat
			.container-fluid: .row
				.col-xs-3.pane#page-chat-list
					.pane-header
						.search
							input(type="text" name="search_query" placeholder="Поиск в чатах")
								
					.scroller#page-chat-list-scroller
						.content
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Юлия Власова <span class="page-chat-list-item-unread">2</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Григорий Блинов <span class="page-chat-list-item-unread">5</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item.active
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Антон Гордеев
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Андрей Бобылев
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Вставьте Ник
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name +1 332 944 9598
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name +7 284 293 4392
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name +212 214 33 234 <span class="page-chat-list-item-unread">13</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-contact +996 555 22 56 03
									.clear
									
						
						
				.col-xs-7.pane#page-chat-body
					.pane-header
						a(href="#").content.page-chat-body-header
							
					
						
				.col-xs-2.pane#page-chat-userinfo
					.pane-header#operator
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a(href="#") На месте
									li: a(href="#") Отошел
									li: a(href="#") Выйти
								
								
					.content.page-chat-userinfo#page-chat-userinfo-scroller
							
						
						
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/main.js")
		