doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/lity.min.css" rel="stylesheet")
		
		title InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.active.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-contacts
			.container-fluid: .row
				.col-xs-3.pane#page-contacts-list
					button.button-circle#page-contacts-list-add-contact
					
					.pane-header
						.search
							input(type="text" name="search_query" placeholder="Поиск в контактах")
								
					.scroller#page-contacts-list-scroller
						.content
							.page-contacts-list-item-letter A
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
									
							.page-contacts-list-item-letter Б
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
									
							.page-contacts-list-item-letter В
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item-letter Г
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
									
							.page-contacts-list-item
								.page-contacts-list-item-avatar
									.page-contacts-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-contacts-list-item-avatar-messengertype.whatsapp
								.page-contacts-list-item-content
									.page-contacts-list-item-name Юлия Власова
									.page-contacts-list-item-contact +1 234 5678 999
									
									.clear
													
						
				.col-xs-7.pane#page-contacts-body
					.pane-header
						.menu
							.menu-item
								button#button-add-contact.icon.icon-plus Добавить контакт
							.menu-item
								button#button-open-chat.icon.icon-open-chat Открыть чат
							.menu-item
								button#button-delete-contact.icon.icon-trash Удалить
							.menu-item
								button.icon.icon-menu.no-caption.dropdown(data-dropdown="#contacts-menu") Меню
								ul.dropdown-menu#contacts-menu
									li: a(href="#") Импорт
									li: a(href="#") Экспорт
						
					#page-contacts-body-body: #page-contacts-body-body-scroller
						.content
							.panels-wrapper
								h1 Юлия Власова
								.panel.page-contacts-body-statistics
									.panel-header
										p Статистика
									.panel-content
										.row
											.col-xs-6
												h2 Сообщения
												.row
													.col-xs-8
														table
															tr
																td.title Всего
																td.val 59
															tr
																td.title Исходящие
																td.val 30
															tr
																td.title Входящие
																td.val 29
													.col-xs-4
														img.chart(src="assets/images/chart.png" alt="")
												hr
												.page-contacts-body-statistics-last-message
													p.title Последнее:
													p.text А где находится ваш офис? Как к вам можно подъехать?
													p.time Вчера, 14:33
											
											.col-xs-6
												h2 Заявки
												.row
													.col-xs-8
														table
															tr
																td.title Всего
																td.val 5
															tr
																td.title Открытые
																td.val 2
															tr
																td.title Закрытые
																td.val 3
													.col-xs-4
														img.chart(src="assets/images/chart.png" alt="")
												hr
												.page-contacts-body-statistics-tickets
													p.title Заявки:
													a(href="#").ticket Заявка #663
													a(href="#").ticket Заявка #689
								.panel
									.panel-header
										p Каналы коммуникации
									.panel-content
										.row
											.col-xs-6
												h2 Мессенджеры
												.page-chat-contacts-body-messenger.whatsapp +1 234 5668 900
												button.page-chat-contacts-body-messenger.viber.add Добавить...
												.page-chat-contacts-body-messenger.skype yulia.vlasova
												
											.col-xs-6
												h2 Соц. сети
												.page-chat-contacts-body-messenger.facebook 43672074237@facebook.com
												button.page-chat-contacts-body-messenger.vkontakte.add Добавить...
												.page-chat-contacts-body-messenger.odnoklassniki yulia.vlasova
												.page-chat-contacts-body-messenger.instagram @yulia.vlasova
									
										
								
							
						
				.col-xs-2.pane#page-contacts-userinfo
					.pane-header#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
								
								
					.content.page-contacts-userinfo#page-contacts-userinfo-scroller
						.page-contacts-userinfo-avatar(style="background-image: url(assets/images/avatar.png);")
						
						.page-contacts-userinfo-data
							label Имя
							.page-contacts-userinfo-data-content Юлия Власова
							.page-contacts-userinfo-data-edit
						.page-contacts-userinfo-phone +1 234 567 8900
						.page-contacts-userinfo-meta 39 лет, Ж
						
						hr
						
						.page-contacts-userinfo-data
							label Компания
							.page-contacts-userinfo-data-content ИП Власова
							.page-contacts-userinfo-data-edit
							
						.page-contacts-userinfo-data
							label Дата рождения
							.page-contacts-userinfo-data-content 01.01.1111 (11 лет)
							.page-contacts-userinfo-data-edit
						
						hr
						
						.page-contacts-userinfo-data-extend
							label Дополнительные поля
							
							.page-contacts-userinfo-data-extend-add
							
							.page-contacts-userinfo-data
								label Доп. поле
								.page-contacts-userinfo-data-content Значение
								.page-contacts-userinfo-data-edit
								
							.page-contacts-userinfo-data
								label Доп. поле
								.page-contacts-userinfo-data-content Значение
								.page-contacts-userinfo-data-edit
								
							.page-contacts-userinfo-data
								label Доп. поле
								.page-contacts-userinfo-data-content Значение
								.page-contacts-userinfo-data-edit
						
						hr
						
						.page-contacts-userinfo-data.comments
							label Комментарии
							.page-contacts-userinfo-data-content Гармоническое микророндо повсеместно стабилизирует рефрен. Арпеджио охватывает соноропериод. Адажио варьирует имидж предприятия.
							.page-contacts-userinfo-data-edit
							
		
			.modal.white-popup.mfp-hide#modal-confirmation
				.modal-header
					p Подтвердите действие
				.modal-content
					p Вы действительно хотите удалить контакт?
				.modal-footer
					button.secondary.modal-close Отмена
					button.primary Удалить
					
			
			.modal.white-popup.mfp-hide#modal-chat-history
				.modal-header
					p Юлия Власова
				.modal-content
					#modal-chat-history-scroller
						.modal-chat-history-message-wrapper: .modal-chat-history-message.incoming
							.modal-chat-history-message-name Юлия Власова
							.modal-chat-history-message-time Вчера, 14:33
							.modal-chat-history-message-text Формирование имиджа, как следует из вышесказанного
							
							
						.modal-chat-history-message-wrapper: .modal-chat-history-message.incoming
							.modal-chat-history-message-name Юлия Власова
							.modal-chat-history-message-time Вчера, 14:33
							.modal-chat-history-message-text Модальное письмо может быть реализовано
							
						.modal-chat-history-message-wrapper
							.modal-chat-history-message.outcoming.delivered
								.modal-chat-history-message-name Вы
								.modal-chat-history-message-time Вчера, 14:33
								.modal-chat-history-message-text Интервально-прогрессийная
							.clear
							
						.modal-chat-history-message-wrapper: .modal-chat-history-message.incoming.attached.attached-image
							.modal-chat-history-message-name Юлия Власова
							.modal-chat-history-message-time Вчера, 14:33
							a(href="assets/images/picture.jpg" target="_blank" data-lity).modal-chat-history-message-attachment(style="background-image: url(assets/images/picture.jpg);")
								
						.modal-chat-history-message-wrapper
							.modal-chat-history-message.outcoming.message-status-read
								.modal-chat-history-message-name Вы
								.modal-chat-history-message-time Вчера, 14:33
								.modal-chat-history-message-text Сообщение прочитанное
							.clear
								
							.modal-chat-history-message-wrapper
								.modal-chat-history-message.outcoming.message-status-delivered
									.modal-chat-history-message-name Вы
									.modal-chat-history-message-time Вчера, 14:33
									.modal-chat-history-message-text Сообщение доставленное
								.clear
								
							.modal-chat-history-message-wrapper
								.modal-chat-history-message.outcoming.message-status-undelivered
									.modal-chat-history-message-name Вы
									.modal-chat-history-message-time Вчера, 14:33
									.modal-chat-history-message-text Сообщение еще не доставлено
								.clear
								
							.modal-chat-history-message-wrapper: .modal-chat-history-message.incoming.attached.attached-audio
								.modal-chat-history-message-name Юлия Власова
								.modal-chat-history-message-time Вчера, 14:33
								a(href="assets/audio.mp3" target="_blank" data-lity).modal-chat-history-message-attachment-audio
								
							// Диалог закрыт
							.modal-chat-history-message-wrapper
								.modal-chat-history-message.closed
									.modal-chat-history-message-text Диалог закрыт
								.clear
								
								
							// Диалог закрыт
							.modal-chat-history-message-wrapper
								.modal-chat-history-message.closed
									.modal-chat-history-message-text У Вас нет ни одного чата с данным контактом
								.clear
					
			
			.modal.modal-narrow.white-popup.mfp-hide#modal-add-contact
				.modal-header
					p Добавить контакт
				.modal-content
					form(action="")
						.form-group
							label ФИО
							input.fg-input(type="text" placeholder="Введите ФИО")
						.form-group
							label Номер телефона
							input.fg-input(type="text" placeholder="Введите номер телефона")
					
				.modal-footer
					button.secondary.modal-close Отмена
					button.primary Добавить
						
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/lity.min.js")
		script(src="assets/js/main.js")
		