doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		
		title InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a.active(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
					.company-support Для справок:<br> support@incare.center
					
		.page#page-chat
			.container-fluid: .row
				.col-xs-3.pane#page-chat-list
					.pane-header
						.search
							input(type="text" name="search_query" placeholder="Поиск в чатах")
								
					.scroller#page-chat-list-scroller
						.content
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Юлия Власова <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-unread 2
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Григорий Блинов <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-unread 11
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
							.page-chat-list-item.active
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Антон Гордеев <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Андрей Бобылев <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name Вставьте Ник <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name +1 332 944 9598 <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-unread 4
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name +7 284 293 4392 <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
							.page-chat-list-item
								.page-chat-list-item-avatar
									.page-chat-list-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
									.page-chat-list-item-avatar-messengertype.whatsapp
								.page-chat-list-item-content
									.page-chat-list-item-name +212 214 33 234 <span class="page-chat-list-item-contact">+996 555 22 56 03</span>
									.page-chat-list-item-text А где находится ваш офис? Как к вам можно подъеха...
									.page-chat-list-item-time 10:32
									.page-chat-list-item-receiver +1 234 5678 999
									.clear
									
						
						
				.col-xs-7.pane#page-chat-body
					.pane-header
						a(href="#").content.page-chat-body-header
							.page-chat-body-header-avatar(style="background-image: url(assets/images/avatar.png);")
							.page-chat-body-header-name Константин Константинопольский
							.page-chat-body-header-status WhatsApp, онлайн
						.menu
							.menu-item
								button.icon.icon-ticket В заявки
							.menu-item
								button.icon.icon-forward Переслать
							.menu-item
								button.icon.icon-update.no-caption Обновить
							.menu-item
								button#button-close-chat.icon.icon-close.no-caption Закрыть
							.menu-item
								button.icon.icon-menu.no-caption.dropdown(data-dropdown="#chat-menu") Меню
								ul.dropdown-menu#chat-menu
									li: a#button-forward-to-operator(href="#") Передать оператору
									li: a#button-forward-to-group(href="#") Передать в группу
									li: a#button-add-specialist(href="#") Добавить специалиста в чат
									li: a#button-call-supervisor(href="#") Позвать супервайзера
						
					#page-chat-body-body: #page-chat-body-body-scroller
						.content
							.page-chat-message-wrapper: .page-chat-message.incoming
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								.page-chat-message-text Взаимодействие корпорации и клиента осмысленно концентрирует жизненный цикл продукции. Оценка эффективности кампании, конечно, синхронизирует креативный имидж предприятия.
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.delivered
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text Несмотря на сложности, косвенная реклама изоморфна времени. Селекция бренда допускает сублимированный креатив.
								.clear
								
							.page-chat-message-wrapper: .page-chat-message.incoming
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								.page-chat-message-text Интервально-прогрессийная континуальная форма уравновешивает нечетный SWOT-анализ. Развивая эту тему, полимодальная организация ускоряет рейтинг, не говоря уже о том, что рок-н-ролл мертв.
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.delivered
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text Формирование имиджа, как следует из вышесказанного, исключительно усиливает внетактовый фьюжн. Модальное письмо может быть реализовано на основе принципов центропостоянности и центропеременности, таким образом аллюзийно-полистилистическая композиция парадоксально трансформирует форшлаг, оптимизируя бюджеты. Гармоническое микророндо повсеместно стабилизирует рефрен. Арпеджио охватывает соноропериод. Адажио варьирует имидж предприятия.
								.clear
								
							.page-chat-message-wrapper: .page-chat-message.incoming
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								.page-chat-message-text Гармоническое микророндо повсеместно стабилизирует рефрен. Арпеджио охватывает соноропериод. Адажио варьирует имидж предприятия.
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.delivered
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text композиция парадоксально трансформирует форшлаг, оптимизируя бюджеты.
								.clear
								
							.page-chat-message-wrapper: .page-chat-message.incoming
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								.page-chat-message-text Формирование имиджа, как следует из вышесказанного
								
								
							.page-chat-message-wrapper: .page-chat-message.incoming
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								.page-chat-message-text Модальное письмо может быть реализовано
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.delivered
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text Интервально-прогрессийная
								.clear
								
							.page-chat-message-wrapper: .page-chat-message.incoming.attached.attached-image
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								a(href="assets/images/picture.jpg" target="_blank").page-chat-message-attachment(style="background-image: url(assets/images/picture.jpg);")
								
							.page-chat-message-wrapper: .page-chat-message.incoming.attached.attached-audio
								.page-chat-message-name Юлия Власова
								.page-chat-message-time Вчера, 14:33
								a(href="assets/audio.mp3" target="_blank").page-chat-message-attachment-audio
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.delivered.attached.attached-video
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									// В ссылке адрес на видео, в бекграунд имедж - постер
									a(href="assets/1.mp4" target="_blank").page-chat-message-attachment(style="background-image: url(assets/images/picture.jpg);")
								.clear
								
								
							
							.page-chat-message-wrapper
								.page-chat-message.outcoming.message-status-read
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text Сообщение прочитанное
								.clear
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.message-status-delivered
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text Сообщение доставленное
								.clear
								
							.page-chat-message-wrapper
								.page-chat-message.outcoming.message-status-undelivered
									.page-chat-message-name Вы
									.page-chat-message-time Вчера, 14:33
									.page-chat-message-text Сообщение еще не доставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставленодоставлено
								.clear
								
							// Диалог закрыт
							.page-chat-message-wrapper
								.page-chat-message.closed
									.page-chat-message-text Диалог закрыт
								.clear
								
							
								
						
					#page-chat-body-textarea
						textarea.empty#page-chat-body-textarea-textarea(name="" placeholder="Введите сообщение...")
						button#attach
						button.dropdown(data-dropdown="#dropdown-quickresponses")#quickresponses
						ul.dropdown-menu.dropup-quickresponses#dropdown-quickresponses
							li: a(href="#") Партисипативное планирование осмысленно экономит инструмент маркетинга. Потребительская база, в рамках сегодняшних воззрений, позиционирует медиаплан. BTL транслирует поведенческий таргетинг.
							li: a(href="#") Изменение глобальной стратегии, конечно, как всегда непредсказуемо. Бизнес-модель все еще интересна для многих.
							li: a(href="#") Ассортиментная политика предприятия стабилизирует ребрендинг.
							li: a(href="#") Размещение вполне выполнимо. В рамках концепции Акоффа и Стэка, экспертиза выполненного проекта все еще интересна для многих.
							li: a(href="#") Медиаплан тормозит конвергентный диктат потребителя.
							li: a(href="#") Маркетинговая коммуникация, конечно, пока плохо программирует конвергентный анализ зарубежного опыта. К тому же баланс спроса и предложения неоднозначна.
							li: a(href="#") Партисипативное планирование осмысленно экономит инструмент маркетинга. Потребительская база, в рамках сегодняшних воззрений, позиционирует медиаплан. BTL транслирует поведенческий таргетинг.
							li: a(href="#") Изменение глобальной стратегии, конечно, как всегда непредсказуемо. Бизнес-модель все еще интересна для многих.
							li: a(href="#") Ассортиментная политика предприятия стабилизирует ребрендинг.
							li: a(href="#") Размещение вполне выполнимо. В рамках концепции Акоффа и Стэка, экспертиза выполненного проекта все еще интересна для многих.
							li: a(href="#") Медиаплан тормозит конвергентный диктат потребителя.
							li: a(href="#") Маркетинговая коммуникация, конечно, пока плохо программирует конвергентный анализ зарубежного опыта. К тому же баланс спроса и предложения неоднозначна.
							
						button#send
						
				.col-xs-2.pane#page-chat-userinfo
					.pane-header#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
								
								
					.content.page-chat-userinfo#page-chat-userinfo-scroller
						.page-chat-userinfo-avatar(style="background-image: url(assets/images/avatar.png);")
						
						.page-chat-userinfo-data
							label Имя 
							.page-chat-userinfo-data-content Юлия Власова
							.page-chat-userinfo-data-edit
						.page-chat-userinfo-phone +1 234 567 8900
						.page-chat-userinfo-meta 39 лет, Ж
						
						hr
						
						.page-chat-userinfo-data
							label Компания
							.page-chat-userinfo-data-content ИП Власова
							.page-chat-userinfo-data-edit
							
						.page-chat-userinfo-data
							label Дата рождения
							.page-chat-userinfo-data-content 01.01.1111 (11 лет)
							.page-chat-userinfo-data-edit
						
						hr
						
						.page-chat-userinfo-data-extend
							label Дополнительные поля
							
							.page-chat-userinfo-data-extend-add
							
							.page-chat-userinfo-data
								label Доп. поле
								.page-chat-userinfo-data-content Значение
								.page-chat-userinfo-data-edit
								
							.page-chat-userinfo-data
								label Доп. поле
								.page-chat-userinfo-data-content Значение
								.page-chat-userinfo-data-edit
								
							.page-chat-userinfo-data
								label Доп. поле
								.page-chat-userinfo-data-content Значение
								.page-chat-userinfo-data-edit
						
						hr
						
						.page-chat-userinfo-data.comments
							label Комментарии
							.page-chat-userinfo-data-content Гармоническое микророндо повсеместно стабилизирует рефрен. Арпеджио охватывает соноропериод. Адажио варьирует имидж предприятия.
							.page-chat-userinfo-data-edit
							
		
			.modal.white-popup.mfp-hide#modal-confirmation
				.modal-header
					p Подтвердите действие
				.modal-content
					p Вы действительно хотите закрыть чат?
				.modal-footer
					button.secondary.modal-close Отмена
					button.primary Закрыть
					
					
			// Передать оператору
			.modal.modal-narrow.white-popup.mfp-hide#modal-chat-forward-to-operator
				.modal-header
					p Передать оператору
				.modal-content
					.ps-scroller
						.ps-scroller-content
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
									
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
									
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
									
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
									
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
									
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
									
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
							
							.modal-chat-fto-operator-item
								.modal-chat-fto-operator-item-avatar
									.modal-chat-fto-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-fto-operator-item-content
									.modal-chat-fto-operator-item-name Юлия Власова
									.modal-chat-fto-operator-item-contact vlasova@box.com
									button.modal-chat-fto-operator-item-forward →
									
									.clear
					
			
			// Передать в группу
			.modal.modal-narrow.white-popup.mfp-hide#modal-chat-forward-to-group
				.modal-header
					p Передать в группу
				.modal-content
					.ps-scroller
						.ps-scroller-content
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							.modal-chat-ftg-operator-item
								.modal-chat-ftg-operator-item-content
									.modal-chat-ftg-operator-item-name Основная очередь
									button.modal-chat-ftg-operator-item-forward →
									
									.clear
									
							
														
			
			// Добавить специалиста в чат
			.modal.modal-narrow.white-popup.mfp-hide#modal-chat-add-specialist
				.modal-header
					p Добавить специалиста в чат
				.modal-content
					.modal-chat-as-search
						input(type="text" name="search_query" placeholder="Поиск операторов")
						
					.ps-scroller
						.ps-scroller-content
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
									
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
									
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
									
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
									
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
									
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
									
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
							
							.modal-chat-as-operator-item
								.modal-chat-as-operator-item-avatar
									.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
								.modal-chat-as-operator-item-content
									.modal-chat-as-operator-item-name Юлия Власова
									.modal-chat-as-operator-item-contact vlasova@box.com
									button.modal-chat-as-operator-item-forward →
									
									.clear
					
			
			// Позвать супервайзера
			.modal.white-popup.mfp-hide#modal-chat-call-supervisor
				.modal-header
					p Позвать супервайзера
				.modal-content
					p Ошибка. У Вас нет супервайзера!
				.modal-footer
					button.secondary.modal-close OK
					
						
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/main.js")
		