doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Вход — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body.page-login: #app(style="background: #f9f9f9; opacity:0;")
			.page-login-background
			header
				.container
					.row
						.col-sm-10.col-md-6.left
							ul.menu
								li: a.scrollto(href="#about") Что такое Incare?
								li: a.scrollto(href="#process") Как это работает?
								li: a.scrollto(href="#tariffs") Тарифы
								li: a.scrollto(href="#contacts") Контакты
						.col-sm-2.col-md-6.right
							.phone <span>+996</span> 775 999 775
							
							.register: a(href="http://incare.center/ContactCenter/Account/Register").out-with-fadeout.btn Регистрация
							.login: a(href="http://incare.center/ContactCenter/Account/Login").out-with-fadeout.btn Войти
							ul.menu.lang
								li: a.out-with-fadeout(href="index.html") EN
								li: a.out-with-fadeout(href="index.html") FR
								li: a.out-with-fadeout(href="index.html") IT
								li: a.active(href="#") RU
		
			.logo: img(src="assets/images/logo.png")
			
			.login-form
				form
					h1 Войти
					.form-group
						input.fg-input(type="text" placeholder="Логин")
					.form-group
						input.fg-input.fg-caps(type="password" placeholder="Пароль")
					.row
						.col-xs-6
							.form-group
								input(type="checkbox" name="savepassword" id="savepassword")
								label.fg-checkbox-label(for="savepassword") Запомнить меня
						.col-xs-6.lostpassword
							a(href="#") Забыли пароль?
					input.submit(type="submit" value="")
		
		
			footer
				ul.menu
					li: a(href="#about") Об INCARE
					li: a(href="#process") Как это работает?
					li: a(href="#tariffs") Тарифы
					li: a(href="#contacts") Контакты
					li: a.out-with-fadeout(href="http://incare.center/ContactCenter/Account/Register") Регистрация
					li: a.out-with-fadeout(href="http://incare.center/ContactCenter/Account/Login") Вход
					
				// .social: img(src="assets/images/social.png")
				// .address INCARE LLC
				.bottom-links
					a(href="docs/ru.privacypolicy.html").ajaxhtml Политика конфиденциальности
					a(href="docs/ru.offer.html").ajaxhtml Публичная оферта
				.copyright © 2015 InCare

							
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		