doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Сменить пароль — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref.active(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Сменить пароль
								
					.panel: form
						.panel-header
							p Сменить пароль
						
						.panel-content
							.row.row-form
								.col-xs-8
									.row
										.col-xs-12: .form-group
											label Старый пароль
											input.fg-input(type="password")
											
										.col-xs-6: .form-group
											label Новый пароль
											input.fg-input(type="password")
											
										.col-xs-6: .form-group
											label Повторите пароль
											input.fg-input(type="password")
								.col-xs-4.tips
									p Надежный пароль должен содержать и прописные и строчные буквы, цифры и как минимум один спецсимвол.
									p Меняйте пароли каждый месяц для безопасности.
									
						.panel-footer
							button Сохранить
					
					
							
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		