doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref.active(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Настройки чатов
								
					.panel: form
						.panel-header
							p Настройки чатов
						.panel-content
							.row
								.col-xs-4: .form-group
									label Количество чатов в очереди оператора
									select.fg-input
										option 1
										option 2
										option 3
										option 4
										option 5
										option 6
										option 7
										option 8
										option 9
										option 10
										option 11
										option 12
										option 13
									
								.col-xs-4: .form-group
									label Интервал ожидания чата (секунд)
									input.fg-input(type="text" value="180")
									
								.col-xs-4: .form-group
									label Таймаут активности пользователя (секунд)
									input.fg-input(type="text" value="600")
									
						.panel-footer
							button.secondary Настройки по умолчанию
							button Сохранить
					
					
					.panels-wrapper-header
						.title
							h1 Ограничения по IP
						.menu
							.menu-item
								button(data-modal="#modal-iprange").icon.icon-plus Добавить диапазон IP-адресов
								button(data-modal="#modal-iplist").icon.icon-plus Добавить список IP-адресов
								button(data-modal="#modal-confirm").icon.icon-close Очистить список
					.panel
						.panel-header
							.form-group.fg-checkbox
								input#form-filter(name="form-filter" type="checkbox")
								label.fg-checkbox-label(for="form-filter") Фильтровать вход в КЦ по IP
							.form-group.fg-checkbox
								input#form-ignore(name="form-ignore" type="checkbox")
								label.fg-checkbox-label(for="form-ignore") Игнорировать фильтрацию для текущего пользователя
								
						.panel-content
							
								
								
							.data-table
								table
									thead
										tr
											th Начало диапазона
											th Конец диапазона
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
									tr
										td 192.168.0.0
										td 192.168.0.255
										td
											button.edit
											button.remove
											
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
							
							
		.modal.white-popup.mfp-hide#modal-iplist
			.modal-header
				p Добавить список IP-адресов
				
			.modal-content
				.form-group.fg-last
					label Список IP-адресов
					textarea.fg-input(placeholder="Введите IP-адреса")
					
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
		
		.modal.white-popup.mfp-hide#modal-iprange
			.modal-header
				p Добавить диапазон IP-адресов
				
			.modal-content
				.row
					.col-xs-6: .form-group.fg-last
						label Начало диапазона
						input.fg-input(type="text" placeholder="0.0.0.0")
					.col-xs-6: .form-group.fg-last
						label Конец диапазона
						input.fg-input(type="text" placeholder="0.0.0.0")
						
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
		
		.modal.white-popup.mfp-hide#modal-confirm
			.modal-header
				p Очистить список
				
			.modal-content
				p Вы уверены, что хотите очистить список?
						
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Очистить
		
		
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		