doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		link(href="assets/js/jquery.datetimepicker.css" rel="stylesheet")
		
		title Статистика обращений — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.active.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-tabs
					ul
						li: a(href="report-main.html") Аналитика
						li.active: a(href="report-stat.html") Статистика обращений
						li: a(href="report-operator.html") Статистика оператора
						
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Статистика обращений
							
					.panel
						.panel-header
							p Создать отчет
						
						.panel-content
							.row
								.col-xs-3
									.form-group
										label Дата и время от
										input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите время")
											
								.col-xs-3
									.form-group
										label Дата и время до
										input.fg-input.fg-date.datetimepicker(data-format="d.m.Y H:i" type="text" placeholder="Выберите время")
											
											
								.col-xs-3
									.form-group
										label Канал коммуникации
										select.fg-input
											option WhatsApp
											option Viber
											option Instagram
								.col-xs-3
									.form-group
										label Шаг отображения статистики
										select.fg-input
											option 15 минут
									
											
						
						.panel-footer
							button Показать
							button Экспортировать
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		script(src="assets/js/jquery.multiple.select.js")
		
		script(src="assets/js/main.js")
		