doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Справочние дополнительных полей — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-scroll
					button.pns-l
					button.pns-r
					.page-navbar-tabs
						ul
							li: a(href="#") Номера и учетные записи
							li: a(href="#") Пользователи
							li: a(href="#") Ограничение по IP
							li: a(href="#") Группы пользователей
							li: a(href="#") Автоответчик
							li.active: a(href="#") Справочник дополнительных полей
							li: a(href="#") Шаблоны писем
							li: a(href="#") О компании
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Справочник дополнительных полей
						.menu
							.menu-item
								button.icon.icon-plus(data-modal="#modal-add-field") Добавить поле
							
					.panel
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Название поля
											th.sortable Тип поля
											th.sortable Пользовательский тип поля
											th.sortable Включен
									tr
										td Имя
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									tr
										td Фамилия
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									tr
										td Дата рождения
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									tr
										td Пол
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									tr
										td Возраст
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									tr
										td Почта
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									tr
										td Facebook account
										td 
										td 
										td: a(href="#" title="Отключить поле").circle.green
										td
											button.edit(data-modal="#modal-edit-field")
											button.remove
									
								.pagination
									a(href="#").disabled.first &middot;&middot;&middot;
									a(href="#").disabled.prev «
									a(href="#").active.page-num 1
									a(href="#").page-num 2
									a(href="#").next »
									a(href="#").last &middot;&middot;&middot;
		
		
		
		.modal.modal-narrow.white-popup.mfp-hide#modal-add-field
			.modal-header
				p Добавить поле
				
			.modal-content
				
				.form-group
					label Название поля
					input.fg-input(type="text" placeholder="Название поля")
				
				.form-group
					label Тип поля
					select.fg-input
						option Текст
						option Число
								
				.form-group.fg-last
					label Пользовательский тип поля
					select.fg-input
						option Текст
						option Число
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Добавить
				
				
		.modal.modal-narrow.white-popup.mfp-hide#modal-edit-field
			.modal-header
				p Редактировать поле
				
			.modal-content
				
				.form-group
					label Название поля
					input.fg-input(type="text" value="Фамилия")
				
				.form-group
					label Тип поля
					select.fg-input
						option(selected) Текст
						option Число
								
				.form-group
					label Пользовательский тип поля
					select.fg-input
						option(selected) Текст
						option Число
						
				.form-group.fg-last
					label Статус
					select.fg-input
						option(selected) Включен
						option Отключен
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
								
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/jquery.multiple.select.js")
		
		script(src="assets/js/main.js")
		