doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-scroll
					button.pns-l
					button.pns-r
					.page-navbar-tabs
						ul
							li: a(href="#") Номера и учетные записи
							li.active: a(href="#") Пользователи
							li: a(href="#") Ограничение по IP
							li: a(href="#") Группы пользователей
							li: a(href="#") Автоответчик
							li: a(href="#") Шаблоны писем
							li: a(href="#") О компании
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Пользователи
						.menu
							.menu-item
								button.icon.icon-plus(data-modal="#modal-add-user") Добавить пользователя
							.menu-item
								button.icon.icon-export Экспорт
							.menu-item
								button.icon.icon-print Печать
							
					.panel
						.panel-header
							.panel-header-tabs
								ul
									li.active: a(href="#") Все пользователи
									li: a(href="#") Администраторы
									li: a(href="#") Операторы
							.panel-header-right
								.form-group.page-archive-panel-form-keyword
									input.fg-input.icon.icon-search(type="text" placeholder="Ключевое слово")
						
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable Статус
											th.sortable Логин
											th.sortable ФИО
											th.sortable Email
											th.sortable Права доступа
											th.sortable Группа
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
											
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Отключить пользователя").circle.green
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Включить пользователя").circle.orange
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Включить пользователя").circle.orange
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
									tr
										td: a(href="#" title="Включить пользователя").circle.orange
										td jacob
										td Джейкоб Джон Кемпбелл
										td jacob@pock.et
										td Администратор
										td Техническая поддержка
										td
											button.edit(data-modal="#modal-edit-user")
											button.remove
								.pagination
									a(href="#").disabled.first &middot;&middot;&middot;
									a(href="#").disabled.prev «
									a(href="#").active.page-num 1
									a(href="#").page-num 2
									a(href="#").next »
									a(href="#").last &middot;&middot;&middot;
		
		
		
		.modal.modal-add-user.white-popup.mfp-hide#modal-add-user
			.modal-header
				.company-info
					.company-logo
						img(src="assets/images/company-logo.png" alt="Company Logo")
					.company-name ОченьДлинноеСлитноеНазваниеКомпанииКотороеТакИХочетПорватьВерстку:D
				p Добавить пользователя
				
			.modal-content
				.row
					.col-xs-6
						.form-group
							label Логин
							input.fg-input(type="text" placeholder="Логин")
					.col-xs-6
						.form-group
							label E-mail
							input.fg-input(type="text" placeholder="E-mail")
				
				.form-group
					label ФИО
					input.fg-input(type="text" placeholder="ФИО")
					
				.row
					.col-xs-6
						.form-group
							label Пароль
							input.fg-input(type="password" placeholder="Пароль")
					.col-xs-6
						.form-group
							label &nbsp;
							input.fg-input(type="password" placeholder="Повторите пароль")
							
				
				.row
					.col-xs-6
						.form-group.fg-last
							label Права доступа
							select.fg-input
								option Администратор
								option Оператор
								
					.col-xs-6
						.form-group.fg-last
							label Группы
							select#edit-group.multipleselect(multiple data-placeholder="Выберите группы").fg-input
								option(value="techsupport") Техническая поддержка
								option(value="reception") Ресепшн
								option(value="contactcenter") Контакт-центр
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Добавить
				
				
		.modal.modal-add-user.white-popup.mfp-hide#modal-edit-user
			.modal-header
				.company-info
					.company-logo
						img(src="assets/images/company-logo.png" alt="Company Logo")
					.company-name ОченьДлинноеСлитноеНазваниеКомпанииКотороеТакИХочетПорватьВерстку:D
				p Редактировать пользователя
				
			.modal-content
				.row
					.col-xs-6
						.form-group
							label Логин
							input.fg-input(type="text" placeholder="Логин" value="jacob")
					.col-xs-6
						.form-group
							label E-mail
							input.fg-input(type="text" placeholder="E-mail" value="jacob@pock.et")
				
				.form-group
					label ФИО
					input.fg-input(type="text" placeholder="ФИО" value="Джейкоб Джон Кемпбелл")
					
				.row
					.col-xs-6
						.form-group
							label Новый пароль
							input.fg-input(type="password" placeholder="Пароль")
					.col-xs-6
						.form-group
							label &nbsp;
							input.fg-input(type="password" placeholder="Повторите пароль")
							
				
				.row
					.col-xs-6
						.form-group.fg-last
							label Права доступа
							select.fg-input
								option Администратор
								option Оператор
								
					.col-xs-6
						.form-group.fg-last
							label Группы
							select#edit-group.multipleselect(multiple data-placeholder="Выберите группы").fg-input
								option(value="techsupport") Техническая поддержка
								option(selected value="reception") Ресепшн
								option(selected value="contactcenter") Контакт-центр
							
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary Сохранить
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/jquery.multiple.select.js")
		
		script(src="assets/js/main.js")
		