doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Настройки — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-tabs
					ul
						li.active: a(href="#") Номера и учетные записи
						li: a(href="#") Пользователи
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Номера и учетные записи
						.menu
							.menu-item
								button(data-modal="#modal-settings-add-account-type").icon.icon-plus Добавить учетную запись
					.panel
						.panel-header
							p Список учетных записей
							button.button-circle.button-add(data-modal="#modal-settings-add-account-type")
						.panel-content
							.data-table
								table
									thead
										tr
											th.sortable(style="width:200px;") Статус
											th.sortable Тип
											th.sortable Номер / логин
											th.sortable Имя профиля
											th.sortable Добавлено
											th 
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.whatsapp WhatsApp
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="" title="Включить").circle.gray Неактивен
										td: .settings-account-type.viber Viber
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: .circle.red(title="Не зарегистрирован") Не&nbsp;зарегистрирован
										td: .settings-account-type.facebook Facebook
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: .circle.orange(title="Ожидает подтверждения") Ожидает&nbsp;подтверждения
										td: .settings-account-type.instagram Instagram
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.odnoklassniki Одноклассники
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.skype Skype
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
									tr
										td: a(href="#" title="Отключить").circle.green Активен
										td: .settings-account-type.vk Vkontakte
										td +996 706 001 006
										td INCARE
										td 22/09/2015
										td
											button.edit
											button.remove
								.pagination
									a(href="#").disabled.first &middot;&middot;&middot;
									a(href="#").disabled.prev «
									a(href="#").active.page-num 1
									a(href="#").page-num 2
									a(href="#").next »
									a(href="#").last &middot;&middot;&middot;
		
		// Popup Select type
		.modal.modal-account.white-popup.mfp-hide#modal-settings-add-account-type
			.modal-header
				p Добавить аккаунт
				h1 Выберите тип аккаунта
			.modal-content
				
				.row
					.col-xs-6
						h2 Мессенджеры
						a(href="#" data-modal="#modal-settings-whatsapp").account-type-messenger.whatsapp WhatsApp
						a(href="#" data-modal="#modal-settings-whatsapp").account-type-messenger.viber Viber
						a(href="#" data-modal="#modal-settings-whatsapp").account-type-messenger.skype Skype
						a(href="#" data-modal="#modal-settings-whatsapp-error").account-type-messenger.skype Ошибка
						
					.col-xs-6
						h2 Соц. сети
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.facebook Facebook
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.vkontakte Вконтакте
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.odnoklassniki Одноклассники
						a(href="#" data-modal="#modal-settings-facebook").account-type-messenger.instagram Instagram
			
			.modal-footer
				button.secondary.modal-close Отмена
					
		// Popup: WhatsApp
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				p Убедитесь, что сим-карта с активируемым номером вставлена в мобильный аппарат и может принимать СМС-сообщения.
				
				.form-group
					input.fg-input(type="text" placeholder="Название организации")
					
				.row
					.col-xs-5
						.form-group
							select.fg-input
								option(value="") +1 США
								option(value="") +1 Канада
								option(value="") +20 Египет
								option(value="") +211 Судан
								option(value="") +31 Нидерланды
								option(value="") +996 Кыргызстан
								
					.col-xs-7
						.form-group
							input.fg-input(type="text" placeholder="Номер телефона")
							
				.form-group
					label Способ активации
					select.fg-input
						option(value="") СМС
						option(value="") Голос
								
				.form-group.fg-last
					input(type="checkbox" id="agree" name="agree")
					label.fg-checkbox-label(for="agree") Я подтверждаю, что являюсь законным владельцем указанного номера телефона и согласен с условиями договора оферты.
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary(data-modal="#modal-settings-whatsapp-activation") Далее
				
		// Popup: Facebook
		.modal.modal-account.modal-account-facebook.white-popup.mfp-hide#modal-settings-facebook
			.modal-header
				p Добавить аккаунт
				h1 Facebook
			.modal-content
				p Для активации Вашего профиля, пожалуйста, заполните нижеуказанные поля.
				
				.form-group
					input.fg-input(type="text" placeholder="Логин")
					
				.row
					.col-xs-6
						.form-group
							input.fg-input(type="password" placeholder="Пароль")
					.col-xs-6
						.form-group
							input.fg-input(type="password" placeholder="Повторите пароль")
				
				.form-group.fg-last
					input(type="checkbox" id="agree" name="agree")
					label.fg-checkbox-label(for="agree") Я подтверждаю, что являюсь законным владельцем указанной учетной записи (профиля) и согласен с условиями договора оферты.
				
			.modal-footer
				button.secondary.modal-close Отмена
				button.primary(data-modal="#modal-settings-facebook-done") Далее
				
		// Popup: Activation
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp-activation
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				p Для активации номера введите код, который вы получили в СМС-сообщении.
				
				.form-group.activation
					input.fg-input(type="text" placeholder="Код активации (6 цифр)")
					
			.modal-footer
				button.secondary(data-modal="#modal-settings-whatsapp") Назад
				button.primary(data-modal="#modal-settings-whatsapp-done") Активировать
				
				
				
				
		// Popup: Done
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp-done
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				.done Ваша учетная запись была успешно активирована!
								
			.modal-footer
				button.primary.modal-close Закрыть
				
		.modal.modal-account.modal-account-whatsapp.white-popup.mfp-hide#modal-settings-whatsapp-error
			.modal-header
				p Добавить аккаунт
				h1 WhatsApp
			.modal-content
				.error Произошла ошибка активации. Попробуйте снова.
								
			.modal-footer
				button.secondary(data-modal="#modal-settings-whatsapp") Назад
				button.primary.modal-close Закрыть
				
		.modal.modal-account.modal-account-facebook.white-popup.mfp-hide#modal-settings-facebook-done
			.modal-header
				p Добавить аккаунт
				h1 Facebook
			.modal-content
				.done Ваша учетная запись была успешно активирована!
								
			.modal-footer
				button.primary.modal-close Закрыть
				
				
														
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		
		script(src="assets/js/main.js")
		