doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/pickmeup.css" rel="stylesheet")
		
		title Шаблоны писем — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref.active(href="#") Параметры
					li: a.settings(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-mail-templates
			.page-navbar
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
					.row
						.col-xs-3
							.panel-menu
								h2 Список шаблонов
								ul
									li.active: a(href="#") Подтверждение регистрации
									li: a(href="#") Сброс пароля
						
						.col-xs-9
							.panel: form
								.panel-header
									p Подтверждение регистрации
								.panel-content
									.row
										.col-xs-8: .form-group.fg-last
											label Текст шаблона
											textarea.fg-tall.fg-input Здравствуйте, {Name}! Спасибо за регистрацию. Ваш пароль для входа: {Password}. Для подтверждения регистрации перейтите по ссылке: {RegistrationConfirmLink}
										
										.col-xs-4
											.page-mail-templates-placeholders
												h3 Список плейсхолдеров
												ul
													li
														.pmtp-name {Name}
														.pmtp-value Имя
													li
														.pmtp-name {Login}
														.pmtp-value Логин
													li
														.pmtp-name {Password}
														.pmtp-value Пароль
													li
														.pmtp-name {RegistrationConfirmLink}
														.pmtp-value Ссылка для подтверждения регистрации
													li
														.pmtp-name {PasswordResetLink}
														.pmtp-value Ссылка для сброса пароля
												
								.panel-footer
									button Сохранить
		
		
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		script(src="assets/js/jquery.pickmeup.min.js")
		script(src="assets/js/main.js")
		