doctype html
html
	head
		meta(charset="utf8")
		link(rel="icon" href="./favicon.png" type="image/png")
		link(href="assets/css/main.css" rel="stylesheet")
		link(href="assets/css/libs/perfect-scrollbar.css" rel="stylesheet")
		
		link(href="assets/js/magnific-popup.css" rel="stylesheet")
		link(href="assets/js/multiple-select.css" rel="stylesheet")
		
		title Группы пользователей — InCare Center
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		
	body: #app(style="background: #f1f1f1; opacity:0;")
		.pane#menu
			a(href="#").pane-header
				img.logo(src="assets/images/logo.png" alt="")
			.pane-content
				ul.menu
					li: a(href="#") Чаты
					li: a.contacts(href="#") Контакты
					li: a.tickets(href="#") Заявки
					li: a.archive(href="#") Архив
					li.separator
					li: a.quickresponses(href="#") Быстрые ответы
					li: a.gallery(href="#") Галерея
					li.separator
					li: a.reports(href="#") Отчеты
					li.separator
					li: a.pref(href="#") Параметры
					li: a.settings.active(href="#") Настройки
				a(href="#")#company
					.company-logo: img(src="assets/images/logo.png")
					.company-name SuperCorp
					.company-contact +1 234 567 8900
					.company-contact +1 332 213 99 75
					
		.page#page-quickresponses
			.page-navbar
				.page-navbar-tabs
					ul
						li: a(href="#") Номера и учетные записи
						li.active: a(href="#") Пользователи
			
				#operator.status-online
						a(href="#").content.operator
							.operator-avatar(style="background-image: url(assets/images/avatar.png);")
							.operator-name Эрнест Илиясов
							.operator-status Оператор
						.menu
							.menu-item
								button.icon.icon-menu-white.no-caption.dropdown(data-dropdown="#operator-menu") Меню
								ul.dropdown-menu#operator-menu
									li: a#fn-set-online(href="#") На&nbsp;месте
									li: a#fn-set-away(href="#") Отошел
									li: a(href="#") Выйти
				
									
			.page-scroller.ps-scroller: .page-content
			
				.panels-wrapper
					.panels-wrapper-header
						.title
							h1 Группы пользователей
						.menu
							.menu-item
								button.icon.icon-plus(data-modal="#modal-add-group") Добавить группу
							
					.panel
						.panel-header
							p Список групп пользователей
							
						.panel-content
							.data-table
								table
									thead
										tr
											th(width="80%") Наименование
									tr
										td Основная очередь
										td
											button.edit(data-modal="#modal-edit-group")
											button.remove
									
									
								ul.pagination
									li.disabled: a(href="#").first &middot;&middot;&middot;
									li.disabled: a(href="#").prev «
									li.active: a(href="#") 1
									li: a(href="#") 2
									li: a(href="#").next »
									li: a(href="#").last &middot;&middot;&middot;
		
		
		
		.modal.modal-narrow.white-popup.mfp-hide#modal-add-group
			.modal-header
				p Добавить группу
				
			.modal-content
				.form-group.fg-last
					label Название группы
					input.fg-input(type="text" placeholder="Название группы")

			.modal-footer
				button.secondary.modal-close Отмена
				button.primary(data-modal="#modal-add-group-user") Добавить
				
		
		
		
		.modal.modal-narrow.white-popup.mfp-hide#modal-add-group-user
			.modal-header
				p Добавить пользователя в группу
			.modal-content
				.operators-list.ps-scroller
					.ps-scroller-content
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
						
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward +
								
								.clear
								
		
		.modal.modal-narrow.modal-edit-group.white-popup.mfp-hide#modal-edit-group
			.modal-header
				p Редактировать группу пользователей
			.modal-content
				.form-group
					label Название группы
					input.fg-input(type="text" placeholder="Название группы" value="Основная очередь")
				
				.label В группе состоят
				
				.operators-list.ps-scroller
					.ps-scroller-content
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
								
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
						.modal-chat-as-operator-item
							.modal-chat-as-operator-item-avatar
								.modal-chat-as-operator-item-avatar-image(style="background-image: url(assets/images/avatar.png);")
							.modal-chat-as-operator-item-content
								.modal-chat-as-operator-item-name Юлия Власова
								.modal-chat-as-operator-item-contact vlasova@box.com
								button.modal-chat-as-operator-item-forward.delete ×
								
								.clear
			.modal-footer
				button.primary Сохранить
				
		script(src="assets/js/jquery.min.js")						
		script(src="assets/js/perfect-scrollbar.jquery.min.js")
		script(src="assets/js/jquery.magnific-popup.js")
		
		script(src="assets/js/jquery.multiple.select.js")
		script(src="assets/js/jquery.datetimepicker.min.js")
		
		script(src="assets/js/main.js")
		