#modal-chat-forward-to-operator {
	
	.modal-content {
		padding: 0;
	}
	
	.ps-scroller {
		max-height: 400px;
		position: relative;
	}
	
	.modal-chat-fto-operator-item {
		background: #fff;
		padding: 10px 20px 10px 0;
		position: relative;
		
		border-bottom: 1px solid #eee;
		
		cursor: pointer;
		
		padding-right: 36px;
		
		transition: background ease 0.15s;

		&:hover {
			background: rgba(0,0,0,0.03) !important;
			
			.modal-chat-fto-operator-item-forward {
				transform: scale(1.1);
			}
		}
		&:active {
			background: #f6f6f6;
			.modal-chat-fto-operator-item-forward {
				transform: scale(0.9);
			}
		}
		
		.modal-chat-fto-operator-item-avatar {
			position: absolute;
			top: -5px;
			left: 20px;
			width: 80px;
			
			padding-top: 15px;
			
			&-image {
				width: 47px;
				height: 47px;
				background-position: center center;
				background-size: cover;
				
				border-radius: 50%;
			}
			
		}
		.modal-chat-fto-operator-item-content {
			width: 100%;
			padding-left: 80px;
			
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.modal-chat-fto-operator-item-name {
			font-size: 15px;
			margin-bottom: 1px;
			white-space: nowrap;
			font-weight: 400;
		}
		
		.modal-chat-fto-operator-item-contact {
			font-size: 12px;
			font-weight: 200;
			
			color: #666;
			
			width: 70%;
		}
		
		.modal-chat-fto-operator-item-forward {
			position: absolute;
			right: 20px;
			top: 19px;
			
			background: @green;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			
			color: #fff;
			font-weight: 500;
			
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
			
			transition: all ease 0.2s;
			
		}
	}
	
}





#modal-chat-forward-to-group {
	
	.modal-content {
		padding: 0;
	}
	
	.ps-scroller {
		max-height: 400px;
		position: relative;
	}
	
	.modal-chat-ftg-operator-item {
		background: #fff;
		padding: 10px 20px 10px 0;
		position: relative;
		
		border-bottom: 1px solid #eee;
		
		cursor: pointer;
		
		padding-right: 36px;
		
		transition: background ease 0.15s;

		&:hover {
			background: rgba(0,0,0,0.03) !important;
			
			.modal-chat-ftg-operator-item-forward {
				transform: scale(1.1);
			}
		}
		&:active {
			background: #f6f6f6;
			.modal-chat-ftg-operator-item-forward {
				transform: scale(0.9);
			}
		}
		
	
		.modal-chat-ftg-operator-item-content {
			width: 100%;
			padding-left: 20px;
			
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.modal-chat-ftg-operator-item-name {
			font-size: 15px;
			margin-bottom: 1px;
			white-space: nowrap;
			font-weight: 400;
		}
		
		.modal-chat-ftg-operator-item-contact {
			font-size: 12px;
			font-weight: 200;
			
			color: #666;
			
			width: 70%;
		}
		
		.modal-chat-ftg-operator-item-forward {
			position: absolute;
			right: 20px;
			top: 12px;
			
			background: @green;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			
			color: #fff;
			font-weight: 500;
			
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
			
			transition: all ease 0.2s;
			
		}
	}
	
}



.operators-list {
    margin: -30px -20px;
}
	.modal-chat-as-search {
		
		background: #fbfbfb;
		padding: 7px 10px;
		
		input {
			background-image: url(../images/search.png);
			background-position: 15px center;
			background-repeat: no-repeat;
			
			border: 1px solid #e1e1e1;
			padding-left: 80px;
			margin-top: 3px;
			
			line-height: 30px;
			font-size: 13px;
			width: 100%;
			
			border-radius: 4px;
			
			transition: all ease 0.3s;
			
			&:focus {
				padding-left: 40px;
				border-color: #bbb;
			}
		}
	
	}
	
		
		
	.modal-content {
		padding: 0;
	}
	
	.ps-scroller {
		max-height: 400px;
		position: relative;
	}
	
	.modal-chat-as-operator-item {
		background: #fff;
		padding: 10px 20px 10px 0;
		position: relative;
		
		border-bottom: 1px solid #eee;
		
		cursor: pointer;
		
		padding-right: 36px;
		
		transition: background ease 0.15s;

		&:hover {
			background: rgba(0,0,0,0.03) !important;
			
			.modal-chat-as-operator-item-forward {
				transform: scale(1.1);
			}
		}
		&:active {
			background: #f6f6f6;
			.modal-chat-as-operator-item-forward {
				transform: scale(0.9);
			}
		}
		
		.modal-chat-as-operator-item-avatar {
			position: absolute;
			top: -5px;
			left: 20px;
			width: 80px;
			
			padding-top: 15px;
			
			&-image {
				width: 47px;
				height: 47px;
				background-position: center center;
				background-size: cover;
				
				border-radius: 50%;
			}
			
		}
		.modal-chat-as-operator-item-content {
			width: 100%;
			padding-left: 80px;
			
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.modal-chat-as-operator-item-name {
			font-size: 15px;
			margin-bottom: 1px;
			white-space: nowrap;
			font-weight: 400;
		}
		
		.modal-chat-as-operator-item-contact {
			font-size: 12px;
			font-weight: 200;
			
			color: #666;
			
			width: 70%;
		}
		
		.modal-chat-as-operator-item-forward {
			position: absolute;
			right: 20px;
			top: 19px;
			
			background: @green;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			
			color: #fff;
			font-weight: 500;
			
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
			
			transition: all ease 0.2s;
			
		}
	}
	
