#page-contacts-list {
	
	width: 30%;
	
	background: #f1f1f1;
	position: relative;
	max-height: 100vh;
	
	#page-contacts-list-add-contact {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
	
	.scroller {
		max-height: 100vh;
		margin: 0 -15px;
		padding: 0 15px;
		position: relative;
		
		.content {
			padding-bottom: 60px;
		}
	}
	
	.pane-header {
		border-botttom: 1px solid #e1e1e1;
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
		background: #fbfbfb;
		
		position: relative;
		z-index: 2;
		
		input {
			background-image: url(../images/search.png);
			background-position: 15px center;
			background-repeat: no-repeat;
			
			border: 1px solid #e1e1e1;
			padding-left: 80px;
			margin-top: 3px;
			
			line-height: 30px;
			font-size: 13px;
			width: 100%;
			
			border-radius: 4px;
			
			transition: all ease 0.3s;
			
			&:focus {
				padding-left: 40px;
				border-color: #bbb;
			}
		}
	}
	
	.page-contacts-list-item-letter {
		background: #fbfbfb;
		
		margin: 0 -15px;
		padding: 6px 15px;
		
		font-size: 16px;
		font-weight: 300;
		
		color: @green;
		
		
	}
	
	.page-contacts-list-item {
		background: #fff;
		padding: 15px 15px 13px 0;
		position: relative;
		
		border-bottom: 1px solid #eee;
		
		cursor: pointer;
		
		margin: 0 -15px;
		
		padding-right: 36px;
		
		transition: background ease 0.15s;
		
		&:hover {
			background: rgba(0,0,0,0.03) !important;
		}
		&.active {
			background: #f6f6f6;
		}
		
		.page-contacts-list-item-avatar {
			position: absolute;
			top: 0;
			left: 15px;
			width: 80px;
			
			padding-top: 15px;
			
			&-image {
				width: 50px;
				height: 50px;
				background-position: center center;
				background-size: cover;
				
				border-radius: 50%;
			}
			&-messengertype {
				position: absolute;
				
				background-image: url(../images/messengertype-whatsapp.png);
				background-repeat: no-repeat;
				
				width: 21px;
				height: 22px;
				
				
				left: 5px;
				bottom: -4px;
			}
			
		}
		.page-contacts-list-item-content {
			width: 100%;
			padding-left: 80px;
			
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		.page-contacts-list-item-name {
			font-size: 15px;
			margin-bottom: 1px;
			white-space: nowrap;
		}
		
		.page-contacts-list-item-contact {
			font-size: 12px;
			font-weight: 200;
			
			color: #666;
			
			width: 70%;
		}
	}
	
}


#page-contacts-body {
	background: #f1eded;
	position: relative;
	
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	
	width: 50%;
	
	.pane-header {
		position: relative;
		z-index: 1;
	}
	
	#page-contacts-body-body {
		max-height: 100vh;
		
		top: 60px;
		bottom: 0px;
		position: absolute;
		left: 0px;
		right: 0px;
		
		overflow: hidden;
		
		&-scroller {
			height: 100%;
			width: 100%;
			position: absolute;
		    top: 0;
		    bottom: 0;
		    padding-bottom: 10px;
		    padding-top: 10px;
		}
		
		.page-contacts-body-statistics {
			tr {
				td { padding: 4px 0px; }
				td.title {
					color: #444;
				}
				td.val {
					
				}
			}
			
			.page-contacts-body-statistics-last-message {
				.title {
					color: #444;
					padding-bottom: 5px;
				}
				
				.text {
					font-size: 13px;
					line-height: 1.3;
				}
				
				.time {
					padding-top: 2px;
					color: #444;
					font-size: 11px;
				}
			}
			
			.page-contacts-body-statistics-tickets {
				.title {
					color: #444;
					padding-bottom: 5px;
				}
				
				.ticket {
					display: block;
					
					color: #000;
					padding-bottom: 5px;
					
					&:hover {
						color: @green;
					}
				}
			}
		}
		
		.page-chat-contacts-body-messenger {
			display: block;
			font-size: 13px;
			font-weight: 300;
			
			
			margin: 8px 0;
			
			line-height: 30px;
			padding-left: 40px;
			
			background-image: url(../images/messengers/whatsapp.png);
			background-position: left center;
			background-size: 30px;
			background-repeat: no-repeat;
			
			&.whatsapp { background-image: url(../images/messengers/whatsapp.png); }
			&.viber { background-image: url(../images/messengers/viber.png); }
			&.skype { background-image: url(../images/messengers/skype.png); }
			&.facebook { background-image: url(../images/messengers/facebook.png); }
			&.vkontakte { background-image: url(../images/messengers/vk.png); }
			&.odnoklassniki { background-image: url(../images/messengers/odnoklassniki.png); }
			&.instagram { background-image: url(../images/messengers/instagram.png); }
			
			&.add {
				color: #555;
				
				&:hover {
					opacity: .8;
				}
			}
		}

	
	

	}
	
	
}

#page-contacts-userinfo {
	width: 20%;
	
	#page-contacts-userinfo-scroller {
		max-height: 100vh;
	}
	
	background: #fbfbfb;
	
	hr {
		border:none;
		border-bottom: 1px solid #eee;
		margin: 15px 0;
	}
	
	.page-contacts-userinfo {
		padding: 0 15px;
		padding-top: 60px;
		
		&-avatar {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			
			background-size: cover;
			background-position: center center;
			
			margin: 30px auto;			
		}
		
		label {
			font-size: 13px;
			font-weight: 300;
			color: #444;
		}
		
		&-name {
			font-size: 16px;
		}
		&-phone {
			margin-top: -5px;
			font-size: 11px;
			color: #444;
			font-weight: 300;
		}
		&-meta {
			font-size: 13px;
			font-weight: 300;
			color: #444;
			margin-top: 5px;
		}
		
		&-data {
			margin: 15px 0;
			position: relative;
			
			label {
				font-weight: 300;
				color: #666;
				font-size: 12px;
			}
			
			&.comments {
				label {
				}
				.page-contacts-userinfo-data-content {
					font-size: 13px;
					font-weight: 300;
					margin-top: 10px;
					color: #222;
				}
			}
			
			&-content {
				font-size: 14px;
			}
			
			&-edit {
				opacity: .2;
				
				width: 15px;
				height: 15px;
				
				padding: 10px;
				
				background-image: url(../images/edit.png);
				background-repeat: no-repeat;
				background-position: center center;
				
				position: absolute;
				top: 2px;
				right: 0;
				
				transition: all ease 0.2s;
				
				cursor: pointer;
				
				&:hover {
					opacity: .7;
				}
				&:active {
					opacity: 1;
				}
			}
		}
		
		
	}
}


// Modal Chat History
#modal-chat-history .modal-content {
	background: #f1eded;
	padding: 0;
}
#modal-chat-history-scroller {
	height: 400px;
	padding: 15px;
	position: relative;
}

.modal-chat-history-message-wrapper {
		clear: both;
	}
	.modal-chat-history-message {
		background: #fff;
		border-radius: 5px;
		display: inline-block;
		
		padding: 12px 17px;
		
		margin: 10px 5px;
		
		box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, .06);
		
		max-width: 80%;
		
		
		&-name {
			display: inline-block;
			padding-right: 10px;
			font-size: 13px;
			font-weight: 300;
		}
		&-time {
			display: inline-block;
			font-size: 12px;
			font-weight: 300;
			color: #333;
		}
		
		&-text {
			margin-top: 5px;
			
			font-size: 13px;
			font-weight: 300;
			
			word-wrap: break-word;
			white-space: pre-wrap;
		}
		
		&.outcoming {
			float: right;
			padding-right: 35px;
			border: 1px solid #a8d9b9;
			
			
			// Message Statuses
			&.message-status-delivered {
				background-image: url(../images/chat/message-status-delivered.png);
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			&.message-status-undelivered {
				background-image: url(../images/chat/message-status-undelivered.png);
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			&.message-status-read {
				background-image: url(../images/chat/message-status-read.png);
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			
			.modal-chat-history-message-name {
				color: @green;
			}
		}
		
		&.closed {
			margin-left: auto;
		    margin-right: auto;
		    display: block;
		    text-align: center;
			
			
			border: 1px solid #ccc;
			
			.modal-chat-history-message-text {
				margin-top: 0;
				color: #666;
			}
		}
		
		&.attached {
			background: none;
			box-shadow: none;
			
			padding: 0;
			border:none;
			
			&.delivered {
				background-position: right top;
			}
			
			.modal-chat-history-message-name {
				padding-left: 16px;
			}
			
			&.attached-image .modal-chat-history-message-attachment:after { background-image: url(../images/chat/attached-image.png); }
			&.attached-video .modal-chat-history-message-attachment:after { background-image: url(../images/chat/attached-video.png); }
			
			.modal-chat-history-message-attachment-audio {
				display: block;
				
				background-color: #fff;
				padding: 12px 17px;
				margin: 10px 5px;
				margin-top: 5px;
				
				box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, .06);
				
				&:hover {
					opacity: .8;
				}
				&:focus {
					outline: none;
				}
				
				// border: 1px solid #000;
								
				width: 60px;
				height: 60px;
				
				background-image: url(../images/chat/attached-audio.png);
				background-position: center center;
				background-repeat: no-repeat;
				
				border-radius: 5px;
				border:none;
				
				position: relative;
			}
			
			.modal-chat-history-message-attachment {
				display: block;
				
				
				
				background-color: #fff;
				padding: 12px 17px;
				margin: 10px 5px;
				margin-top: 5px;
				
				box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, .06);
				
				width: 360px;
				height: 250px;
				background-size: cover;
				
				border-radius: 5px;
				border:none;
				
				position: relative;
				
				
				
				&:after {
					position: absolute;
					top: 0; right: 0; bottom:0; left: 0;
					//visibility: hidden;
					// opacity: 0.5;
					transition: all ease 0.3s;
					background-position: center center;
					background-repeat: no-repeat;
					content: '';
					border-radius: 5px;
				}
				
				&:hover {
					
					&:after {
						visibility: visible;
						opacity: 1;
						background-color: rgba(0,0,0,0.4);
					}
				}
				
				&:focus {
					outline: none;
				}
			}
		}
	}
