header {
  background-color: #f4f4f4;
  line-height: 80px;
  position: static;
  margin-bottom: -100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: top 0.25s ease-in;
}
header:not(.sticked) ul.menu:hover a {
  color: rgba(255, 255, 255, 0.3);
}
header:not(.sticked) ul.menu li a:hover {
  color: #fff !important;
}
header:not(.sticked) .btn {
  border-color: #fff;
  color: #fff;
}
header:not(.sticked) .btn:hover {
  background: #fff !important;
  color: #176766 !important;
}
header .right {
  text-align: right;
}
header .menu li a {
  line-height: 80px;
  color: #fff;
}
header .phone {
  display: inline-block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
header .phone span {
  font-size: 14px;
}
header .register,
header .login {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
header .register .btn,
header .login .btn {
  padding: 0 21px;
  line-height: 30px;
  font-size: 13px;
  margin-bottom: 4px;
  vertical-align: middle;
}
header .register .btn:hover,
header .login .btn:hover {
  background: #3ed071;
  color: #fff;
}
header .register .btn:active,
header .login .btn:active {
  background: #2bb059;
  border-color: #2bb059;
  color: #fff;
}
header .register {
  margin-right: 5px;
}
header .login {
  margin-left: 5px;
}
header .lang {
  display: inline-block;
}
header .lang li {
  margin-right: 5px !important;
}
header .lang li a {
  line-height: normal;
}
header .lang li a.active {
  border-bottom: 2px solid #fff;
}
header.sticked {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  opacity: 1 !important;
  position: fixed;
  line-height: 60px;
  top: 0;
}
header.sticked .menu li a {
  line-height: 60px;
  color: #333;
}
header.sticked .lang a {
  line-height: normal !important;
}
header.sticked .lang a.active {
  border-bottom-color: #3ed071;
}
header.sticked .phone {
  color: rgba(0, 0, 0, 0.8);
}
footer {
  display: block;
  background: #f9f9f9;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 12px;
}
footer .menu {
  margin-top: 20px;
}
footer .menu a {
  color: #999 !important;
}
footer .social {
  margin: 30px 0;
}
footer .address {
  color: rgba(0, 0, 0, 0.35);
}
footer .bottom-links {
  margin: 20px 0;
}
footer .bottom-links a {
  color: #666;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin: 0 10px;
}
footer .bottom-links a:hover {
  color: #3ed071;
  border-bottom-color: #daf6e4;
}
footer .copyright {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}
