@green: #0dac5c;

.page-login {
	#app { min-height: 100vh;}
	overflow-y: auto !important;
	
	.page-login-background {
		background-image: url(../images/try-bg.jpg);
		height: 442px;
		
		margin-bottom: -442px;
	}
	
	
	ul.menu {
		
			&:hover {
				a {
					color: rgba(0,0,0,0.3);
				}
			}
				
			li {
				
				 a {
					color: rgba(255,255,255,0.8);
					text-transform: uppercase;
					letter-spacing: .5px;
					font-size: 13px;
					display: inline-block;
					
					&:hover {
						color: rgba(0,0,0,0.7) !important;
					}
				}
				
				margin-right: 25px;
			}
		}
		
	ul.menu {
		li {
			display: inline-block;
		}
	}
	
	
	
	
	.logo {
		margin-top: 150px;
		text-align: center;
		
		img {
			width: 160px;
		}
	}
	
	
	
	.login-form {
		position: relative;
		
		
		max-width: 630px;
		padding: 60px 100px;
		
		background: #fff;
		
		margin: 0 auto;
		margin-top: 50px;
		
		box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
		
		h1 {
			font-weight: 300;
			font-size: 30px;
			color: #105d3d;
			
			margin-bottom: 20px;
		}
		
		h2 {
			font-weight: 300;
			font-size: 16px;
			color: #333;
			
			margin-bottom: 40px;
		}
		
		.form-group {
			.fg-input {
				font-size: 16px;
				
				&.fg-caps {
					background-image: url('../images/caps.png');
					background-position: right center;
					background-repeat: no-repeat;
				}
			}
		}
		
		.submit {
			background-color: #0dac5c;
			background-image: url(../images/login-button-send.png);
			background-position: center center;
			background-repeat: no-repeat;
			border: none;
			
			width: 70px;
			height: 70px;
			border-radius: 50%;
			
			position: absolute;
			
			top: 50%;
			margin-top: -35px;
			right: -35px;
			
			box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
			
			cursor: pointer;
			transition: all ease 0.2s;
			
			&:hover {
				transform: scale(1.1);
			}
			&:active {
				transform: scale(0.9);
			}
		}
		
		.lostpassword,
		.link {
			text-align: right;
			a {
				font-size: 14px;
				color: #444;
				font-weight: 300;
				border-bottom: 1px solid #ccc;
				
				&:hover {
					color: @green;
					border-bottom-color: @green;
				}
			}
		}
		
		.link {
			text-align: left;
		}
	}
	
}

header {
	line-height: 80px;
	
	position: static;
	margin-bottom: -100px;
	top: 0;
	left: 0;
	right: 0;	
	z-index: 10;
	
	transition: top .25s ease-in;
	
	&:not(.sticked) {
		ul.menu {
			&:hover {
				a {
					color: rgba(255,255,255,0.3);
				}
			}
			li a:hover {
				color: #fff !important;
			}
		}
		.btn {
			border-color: #fff;
			color: #fff;
			
			&:hover {
				background: #fff !important;
				color: #176766 !important;
				
			}
			
			&:active {
				
			}
		}
	}
	
	.right {
		text-align: right;
	}
	
	.menu li a {
		line-height: 80px;
		color: #fff;
	}
	
	.phone {
		display: inline-block;
		font-size: 18px;
		color: rgba(255,255,255,.8);
		span {
			font-size: 14px;
		}
	}
	.register,
	.login {
		display: inline-block;
		margin-left: 30px;
		margin-right: 30px;
		
		.btn {
			padding: 0 21px;
		    line-height: 30px;
		    font-size: 13px;
		    margin-bottom: 4px;
			vertical-align: middle;
			
			
		    
		&:hover {
				background: @green;
				color: #fff;
			}
			
			&:active {
				background: darken(@green,10%);
				border-color: darken(@green,10%);
				color: #fff;
			}
		}
	}
	
	.register {
		margin-right: 5px;
	}
	.login {
		margin-left: 5px;
	}
	
	.lang {
		display: inline-block;
		li {
			margin-right: 5px !important;
			a {
				padding-bottom: 2px;
				line-height: normal;
				&.active {
					border-bottom: 2px solid #fff;
				}
			}
		}
	}
	
	&.sticked {
		background: #fff;
		box-shadow: 0 5px 20px rgba(0,0,0,0.08);
		opacity: 1 !important;
		position: fixed;
		line-height: 60px;
		
		.menu li a {
			line-height: 60px;
			color: #333;
		}
		.lang a {
			line-height: normal !important;
			&.active {
				border-bottom-color: @green;
			}
		}
		.phone {
			color: rgba(0,0,0,.8);
		}
		
		top: 0;
	}
}

.btn {
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 9px 23px !important;
}
.openapp {
	text-align: right;
	
	
	.btn {
		border-color: @green;
		background: #fff;
		color: @green;
		
		&:hover {
			background: @green;
			color: #fff;
		}
	}
}

footer {
	display: block;
	text-align: center;
	
	padding-top: 50px;
	padding-bottom: 30px;
	
	font-size: 12px;
	
	.menu {
		margin-top: 20px;
		a {
			color: #999 !important;
		}
	}
	.social {
		margin: 30px 0;
	}
	
	.address {
		color: rgba(0,0,0,0.35);
	}
	
	.bottom-links {
		margin: 20px 0;
		a {
			color: #666;
			border-bottom: 1px solid #ccc;
			display: inline-block;
			margin: 0 10px;
			
			&:hover {
				color: @green;
				border-bottom-color: lighten(@green,38%);
			}
		}
	}
	
	.copyright {
		padding-top: 20px;
		color: rgba(0,0,0,0.7);
	}
}


