@import url('libs/reset.css');
@import url('libs/grids.css');
@import url('libs/animation.css');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500&subset=latin,cyrillic);
/**
 * New Project Boilerplate
 *
 * me@ernest.asia
 *
 * @fileoverview Main.less
 */
/* @import url('./libs/fonts.css'); */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
table {
  width: 100%;
}
hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 15px 0;
}
#app {
  min-width: 1200px;
  min-height: 600px;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #0dac5c;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}
button {
  border: 0;
  padding: 0;
  margin: 0;
  background: 0 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}
body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  background-color: #e8e8e8;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
body.scrollable-x {
  overflow-x: auto;
}
#app {
  -webkit-transition: all ease 0.4s;
          transition: all ease 0.4s;
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}
body.active #app {
  opacity: 1 !important;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
a {
  text-decoration: none;
  color: #00a2ff;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
a:hover {
  -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
}
.panels-wrapper-header {
  padding: 10px 0 0 0;
  position: relative;
}
.panels-wrapper-header .menu {
  margin-top: 5px;
}
.menu button.icon.icon-menu {
  background-image: url(../images/buttons/button.png);
}
.menu button.icon.icon-menu-white {
  background-image: url(../images/buttons/button-white.png);
}
.menu button.icon.icon-update {
  background-image: url(../images/buttons/update.png);
}
.menu button.icon.icon-ticket {
  background-image: url(../images/buttons/ticket.png);
}
.menu button.icon.icon-forward {
  background-image: url(../images/buttons/forward.png);
}
.menu button.icon.icon-close {
  background-image: url(../images/buttons/close.png);
}
.menu button.icon.icon-plus {
  background-image: url(../images/buttons/plus.png);
}
.menu button.icon.icon-open-chat {
  background-image: url(../images/buttons/open-chat.png);
}
.menu button.icon.icon-trash {
  background-image: url(../images/buttons/archive.png);
}
.menu button.icon.icon-export {
  background-image: url(../images/buttons/export.png);
}
.menu button.icon.icon-print {
  background-image: url(../images/buttons/print.png);
}
.menu button.icon.icon-check {
  background-image: url(../images/buttons/check.png);
}
.pane-header .menu,
.page-navbar-tabs .menu,
.page-navbar-menu .menu,
.panels-wrapper-header .menu {
  position: absolute;
  right: 10px;
  top: 13px;
}
.pane-header .menu .menu-item,
.page-navbar-tabs .menu .menu-item,
.page-navbar-menu .menu .menu-item,
.panels-wrapper-header .menu .menu-item {
  display: inline-block;
}
.pane-header .menu button,
.page-navbar-tabs .menu button,
.page-navbar-menu .menu button,
.panels-wrapper-header .menu button {
  width: auto;
  background-color: transparent;
  background-position: 7px center;
  -webkit-background-size: 16px 16px;
          background-size: 16px;
  padding: 10px;
  padding-left: 30px;
  padding-top: 11px;
  line-height: normal;
  border-radius: 5px;
  display: inline-block;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .7px;
  text-indent: 0;
  margin-left: 1px;
  color: #333;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
.pane-header .menu button[disabled],
.page-navbar-tabs .menu button[disabled],
.page-navbar-menu .menu button[disabled],
.panels-wrapper-header .menu button[disabled] {
  opacity: .3;
}
.pane-header .menu button.no-caption,
.page-navbar-tabs .menu button.no-caption,
.page-navbar-menu .menu button.no-caption,
.panels-wrapper-header .menu button.no-caption {
  background-position: center center;
  padding: 10px 15px;
  text-indent: -5000px;
  width: 16px;
}
.pane-header .menu button:hover,
.page-navbar-tabs .menu button:hover,
.page-navbar-menu .menu button:hover,
.panels-wrapper-header .menu button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.pane-header .menu button:active,
.page-navbar-tabs .menu button:active,
.page-navbar-menu .menu button:active,
.panels-wrapper-header .menu button:active,
.pane-header .menu button.active,
.page-navbar-tabs .menu button.active,
.page-navbar-menu .menu button.active,
.panels-wrapper-header .menu button.active {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease 0.1s;
          transition: all ease 0.1s;
}
.pane {
  background: #fff;
  min-height: 100vh;
}
.pane .pane-header {
  display: block;
  background: #f8f8f8;
  margin: 0 -15px;
  padding: 10px 15px;
  height: 60px;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
}
.pane .pane-header a {
  color: inherit;
  display: block;
}
.pane .pane-header .content {
  float: left;
}
.page {
  width: 100%;
  padding-left: 185px;
}
#menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 185px;
  background: #1f1f1f;
}
#menu .pane-header {
  background: #0dac5c;
  width: 100%;
  margin: 0;
}
#menu .pane-header .logo {
  width: 82px;
  margin-top: 7px;
  margin-left: 20px;
}
#menu .pane-header:hover {
  background: #0ebf66;
}
#menu #company {
  display: block;
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
  width: 100%;
  padding-top: 20px;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
#menu #company:hover {
  border-color: rgba(255, 255, 255, 0.15);
}
#menu #company:hover .company-logo img {
  opacity: .8;
}
#menu #company:hover .company-contact {
  opacity: 1;
}
#menu #company .company-logo img {
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
  height: 25px;
  opacity: .5;
}
#menu #company .company-name {
  font-size: 14px;
  margin-bottom: 7px;
  opacity: .8;
  font-weight: 500;
}
#menu #company .company-contact {
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
  font-size: 11px;
  font-weight: 300;
  padding-left: 20px;
  opacity: .8;
  padding-bottom: 1px;
  -webkit-background-size: 14px 14px;
          background-size: 14px;
  background-image: url(../images/whatsapp-white.png);
  background-repeat: no-repeat;
  margin: 5px 0;
}
#menu #company .company-support {
  font-size: 11px;
  font-weight: 300;
  padding-left: 20px;
  padding-bottom: 1px;
  -webkit-background-size: 14px 14px;
          background-size: 14px;
  background-image: url(../images/company-support.png);
  background-repeat: no-repeat;
  margin: 5px 0;
  margin-top: 15px;
}
#menu .menu {
  margin-left: 20px;
  margin-top: 13px;
}
#menu .menu li.separator {
  height: 01px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  margin: 5px 0;
}
#menu .menu li a {
  color: #fff;
  opacity: .7;
  line-height: 30px;
  display: inline-block;
  width: 100%;
  padding: 2px 0;
  padding: 5px 0;
  font-size: 13px;
  vertical-align: middle;
  padding-left: 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../images/menu/chat.png);
}
#menu .menu li a.contacts {
  background-image: url(../images/menu/contacts.png);
}
#menu .menu li a.gallery {
  background-image: url(../images/menu/attach.png);
}
#menu .menu li a.quickresponses {
  background-image: url(../images/menu/quickresponse.png);
}
#menu .menu li a.reports {
  background-image: url(../images/menu/reports.png);
}
#menu .menu li a.settings {
  background-image: url(../images/menu/settings.png);
}
#menu .menu li a.archive {
  background-image: url(../images/menu/archive.png);
}
#menu .menu li a.tickets {
  background-image: url(../images/menu/tickets.png);
}
#menu .menu li a.pref {
  background-image: url(../images/menu/pref.png);
}
#menu .menu li a:hover {
  opacity: 1;
}
#menu .menu li a.active {
  opacity: 1;
  font-weight: 700;
}
#operator {
  top: 0;
  display: block;
  background: #f8f8f8;
  margin: 0 -15px;
  padding: 10px 15px;
  height: 60px;
  background: #0dac5c;
  color: #fff;
  position: absolute;
  z-index: 2;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
#operator:hover {
  background: #0ebf66;
}
#operator a {
  color: inherit;
  display: block;
}
#operator .content {
  float: left;
}
#operator .menu {
  position: absolute;
  right: 10px;
  top: 13px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(10%, #f8f8f8));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #f8f8f8 10%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #f8f8f8 10%);
}
#operator .menu .menu-item {
  display: inline-block;
}
#operator .menu button {
  width: auto;
  background-position: 7px center;
  -webkit-background-size: 16px 16px;
          background-size: 16px;
  padding: 10px;
  padding-left: 30px;
  padding-top: 11px;
  line-height: normal;
  border-radius: 5px;
  display: inline-block;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .7px;
  text-indent: 0;
  margin-left: 1px;
  color: #333;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
#operator .menu button.no-caption {
  background-position: center center;
  padding: 10px 15px;
  text-indent: -5000px;
  width: 16px;
}
#operator .menu button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#operator .menu button:active,
#operator .menu button.active {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease 0.1s;
          transition: all ease 0.1s;
}
#operator.status-online {
  background: #0dac5c;
}
#operator.status-away {
  background: orange;
}
#operator .menu {
  background: transparent;
}
#operator .operator {
  width: 190px;
}
#operator .operator-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover cover;
          background-size: cover;
  margin-right: 10px;
  float: left;
}
#operator .operator-name {
  padding-top: 3px;
  font-size: 14px;
  font-weight: 500;
}
#operator .operator-status {
  line-height: 1;
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.clear {
  clear: both;
}
input {
  font-family: Roboto;
  font-weight: 300;
}
#page-chat-list {
  width: 30%;
  background: #f1f1f1;
  position: relative;
  max-height: 100vh;
}
#page-chat-list .scroller {
  max-height: 100vh;
  margin: 0 -15px;
  padding: 0 15px;
  position: relative;
}
#page-chat-list .scroller .content {
  padding-bottom: 60px;
}
#page-chat-list .pane-header {
  border-botttom: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
  background: #fbfbfb;
  position: relative;
  z-index: 2;
}
#page-chat-list .pane-header input {
  background-image: url(../images/search.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  border: 1px solid #e1e1e1;
  padding-left: 80px;
  margin-top: 3px;
  line-height: 30px;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
#page-chat-list .pane-header input:focus {
  padding-left: 40px;
  border-color: #bbb;
}
#page-chat-list .page-chat-list-item {
  background: #fff;
  padding: 15px 15px 13px 0;
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  margin: 0 -15px;
  padding-right: 36px;
  -webkit-transition: background ease 0.15s;
          transition: background ease 0.15s;
}
#page-chat-list .page-chat-list-item:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}
#page-chat-list .page-chat-list-item.active {
  background: #f6f6f6;
}
#page-chat-list .page-chat-list-item-unread {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-left: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  line-height: 20px;
  margin-top: -4px;
  background: #f6ce2a;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-avatar {
  position: absolute;
  top: 0;
  left: 15px;
  width: 80px;
  padding-top: 15px;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-avatar-image {
  width: 64px;
  height: 64px;
  background-position: center center;
  -webkit-background-size: cover cover;
          background-size: cover;
  border-radius: 50%;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-avatar-messengertype {
  position: absolute;
  background-image: url(../images/messengertype-whatsapp.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  left: 5px;
  bottom: -4px;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-content {
  width: 100%;
  padding-left: 95px;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-name {
  font-size: 15px;
  margin-bottom: 1px;
  white-space: nowrap;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-contact {
  font-size: 11px;
  font-weight: 200;
  margin-bottom: 3px;
  padding-left: 5px;
  color: #666;
  width: 70%;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-text {
  font-size: 13px;
  font-weight: lighter;
  line-height: 1.2;
  color: #333;
  margin-bottom: 8px;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-time {
  font-size: 11px;
  color: #0dac5c;
  float: left;
  padding-right: 10px;
}
#page-chat-list .page-chat-list-item .page-chat-list-item-receiver {
  font-size: 11px;
  font-weight: 200;
  color: #666;
  float: left;
  width: 70%;
  padding-left: 10px;
  background-image: url(../images/buttons/receive.png);
  background-repeat: no-repeat;
  -webkit-background-size: 7px 7px;
          background-size: 7px;
  background-position: left center;
}
#page-chat-body {
  background: #f1eded;
  position: relative;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  width: 50%;
}
#page-chat-body .pane-header {
  position: relative;
  z-index: 1;
}
#page-chat-body .menu {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, #f8f8f8));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #f8f8f8 10%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #f8f8f8 10%);
  padding-left: 50px;
}
#page-chat-body .page-chat-body-header {
  width: 190px;
}
#page-chat-body .page-chat-body-header:hover {
  opacity: 0.8;
}
#page-chat-body .page-chat-body-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover cover;
          background-size: cover;
  margin-right: 10px;
  float: left;
}
#page-chat-body .page-chat-body-header-name {
  padding-top: 2px;
  font-size: 15px;
  white-space: nowrap;
}
#page-chat-body .page-chat-body-header-status {
  line-height: 1;
  font-size: 12px;
  font-weight: 300;
  color: #333;
}
#page-chat-body #page-chat-body-body {
  max-height: 100vh;
  top: 60px;
  bottom: 90px;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
#page-chat-body #page-chat-body-body-scroller {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#page-chat-body .page-chat-message-wrapper {
  clear: both;
}
#page-chat-body .page-chat-message {
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 17px;
  margin: 10px 5px;
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
  max-width: 80%;
}
#page-chat-body .page-chat-message-name {
  display: inline-block;
  padding-right: 10px;
}
#page-chat-body .page-chat-message-time {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #333;
}
#page-chat-body .page-chat-message-text {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  white-space: pre-wrap;
}
#page-chat-body .page-chat-message.outcoming {
  float: right;
  padding-right: 35px;
  border: 1px solid #a8d9b9;
}
#page-chat-body .page-chat-message.outcoming.message-status-delivered {
  background-image: url(../images/chat/message-status-delivered.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
#page-chat-body .page-chat-message.outcoming.message-status-undelivered {
  background-image: url(../images/chat/message-status-undelivered.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
#page-chat-body .page-chat-message.outcoming.message-status-read {
  background-image: url(../images/chat/message-status-read.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
#page-chat-body .page-chat-message.outcoming .page-chat-message-name {
  color: #0dac5c;
}
#page-chat-body .page-chat-message.closed {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border: 1px solid #ccc;
}
#page-chat-body .page-chat-message.closed .page-chat-message-text {
  margin-top: 0;
  color: #666;
}
#page-chat-body .page-chat-message.attached {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  border: none;
}
#page-chat-body .page-chat-message.attached.delivered {
  background-position: right top;
}
#page-chat-body .page-chat-message.attached .page-chat-message-name {
  padding-left: 16px;
}
#page-chat-body .page-chat-message.attached.attached-image .page-chat-message-attachment:after {
  background-image: url(../images/chat/attached-image.png);
}
#page-chat-body .page-chat-message.attached.attached-video .page-chat-message-attachment:after {
  background-image: url(../images/chat/attached-video.png);
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment-audio {
  display: block;
  background-color: #fff;
  padding: 12px 17px;
  margin: 10px 5px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
  width: 60px;
  height: 60px;
  background-image: url(../images/chat/attached-audio.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: none;
  position: relative;
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment-audio:hover {
  opacity: .8;
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment-audio:focus {
  outline: none;
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment {
  display: block;
  background-color: #fff;
  padding: 12px 17px;
  margin: 10px 5px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
  width: 360px;
  height: 250px;
  -webkit-background-size: cover cover;
          background-size: cover;
  border-radius: 5px;
  border: none;
  position: relative;
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  border-radius: 5px;
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment:hover:after {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
#page-chat-body .page-chat-message.attached .page-chat-message-attachment:focus {
  outline: none;
}
#page-chat-body #page-chat-body-textarea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: #fff;
  padding: 0 15px;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.07);
}
#page-chat-body #page-chat-body-textarea textarea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  resize: none;
  border: none;
  width: 100%;
  font-family: Roboto;
  font-size: 13px;
  padding: 15px;
  font-weight: 300;
  padding-right: 110px;
  padding-top: 15px;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
#page-chat-body #page-chat-body-textarea textarea.empty {
  padding-top: 35px;
}
#page-chat-body #page-chat-body-textarea textarea:focus {
  padding-top: 15px;
  outline: none;
}
#page-chat-body #page-chat-body-textarea.scrollbar #attach {
  right: 95px;
}
#page-chat-body #page-chat-body-textarea.scrollbar #quickresponses {
  right: 60px;
}
#page-chat-body #page-chat-body-textarea.scrollbar #send {
  right: 25px;
}
#page-chat-body #page-chat-body-textarea button {
  position: absolute;
  top: 30px;
  right: 10px;
  opacity: .7;
  background-image: url(../images/attach.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
          background-size: 16px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
  border-radius: 4px;
}
#page-chat-body #page-chat-body-textarea button:hover {
  opacity: .9;
  background-color: rgba(0, 0, 0, 0.07);
}
#page-chat-body #page-chat-body-textarea button:active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.18);
  -webkit-transition: all ease 0.1s;
          transition: all ease 0.1s;
}
#page-chat-body #page-chat-body-textarea #attach {
  right: 85px;
  background-image: url(../images/attach.png);
}
#page-chat-body #page-chat-body-textarea #quickresponses {
  right: 50px;
  background-image: url(../images/buttons/button.png);
}
#page-chat-body #page-chat-body-textarea #send {
  right: 15px;
  background-image: url(../images/buttons/send.png);
}
#page-chat-body #page-chat-body-textarea p {
  line-height: 90px;
  font-weight: lighter;
  color: #888;
}
#page-chat-userinfo {
  width: 20%;
  background: #fbfbfb;
}
#page-chat-userinfo #page-chat-userinfo-scroller {
  max-height: 100vh;
}
#page-chat-userinfo hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 15px 0;
}
#page-chat-userinfo .page-chat-userinfo {
  padding: 0 15px;
  padding-top: 60px;
}
#page-chat-userinfo .page-chat-userinfo-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-background-size: cover cover;
          background-size: cover;
  background-position: center center;
  margin: 30px auto;
}
#page-chat-userinfo .page-chat-userinfo label {
  font-size: 13px;
  font-weight: 300;
  color: #444;
}
#page-chat-userinfo .page-chat-userinfo-name {
  font-size: 16px;
}
#page-chat-userinfo .page-chat-userinfo-phone {
  margin-top: -5px;
  font-size: 11px;
  color: #444;
  font-weight: 300;
}
#page-chat-userinfo .page-chat-userinfo-meta {
  font-size: 13px;
  font-weight: 300;
  color: #444;
  margin-top: 5px;
}
#page-chat-userinfo .page-chat-userinfo-data {
  margin: 15px 0;
  position: relative;
}
#page-chat-userinfo .page-chat-userinfo-data label {
  font-weight: 300;
  color: #666;
  font-size: 12px;
}
#page-chat-userinfo .page-chat-userinfo-data.comments .page-chat-userinfo-data-content {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  color: #222;
}
#page-chat-userinfo .page-chat-userinfo-data-content {
  font-size: 14px;
}
#page-chat-userinfo .page-chat-userinfo-data-edit {
  opacity: .2;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 2px;
  right: 0;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
  cursor: pointer;
}
#page-chat-userinfo .page-chat-userinfo-data-edit:hover {
  opacity: .7;
}
#page-chat-userinfo .page-chat-userinfo-data-edit:active {
  opacity: 1;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 40px;
  background: #ffffff;
  padding: 10px 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 3px;
}
.dropdown-menu.open {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.dropdown-menu.dropup-quickresponses {
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  bottom: 70px;
  right: 50px;
  top: auto;
  max-width: 500px;
  max-height: 200px;
  overflow-y: scroll;
}
.dropdown-menu li a {
  padding: 10px 25px;
  color: #333 !important;
  font-weight: lighter;
  display: block;
}
.dropdown-menu li a:hover {
  background: #f1f1f1;
}
.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
html {
  margin-right: 0 !important;
}
.mfp-bg {
  opacity: .3 !important;
}
.modal {
  -webkit-box-shadow: 0 6px 19px rgba(0, 0, 0, 0.27);
          box-shadow: 0 6px 19px rgba(0, 0, 0, 0.27);
}
.modal.modal-narrow {
  max-width: 350px;
}
.modal .mfp-close {
  height: 60px;
}
.modal .modal-header {
  background: #f5f5f5;
  padding: 20px;
}
.modal .modal-header p {
  font-size: 14px;
  color: #444;
  font-weight: 300;
}
.modal .modal-header h1 {
  font-weight: 400;
  font-size: 18px;
}
.modal .modal-content {
  padding: 30px 20px;
  font-size: 15px;
  font-weight: 300;
}
.modal .modal-content h2 {
  font-weight: 400;
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.modal .modal-footer {
  background: #f5f5f5;
  padding: 13px 20px;
  text-align: right;
}
.modal .modal-footer button {
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: #0dac5c;
  color: #fff;
  padding: 11px 10px;
  margin: 0 3px;
  min-width: 135px;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.modal .modal-footer button:hover {
  opacity: .8;
}
.modal .modal-footer button:active {
  opacity: 1;
}
.modal .modal-footer button.primary {
  background: #0dac5c;
  color: #fff;
}
.modal .modal-footer button.secondary {
  background: #e3e3e3;
  color: #333;
}
/* overlay at start */
.mfp-bg {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.3;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
.panels-wrapper {
  padding: 0 10px;
}
.panels-wrapper h1 {
  font-size: 20px;
  padding: 10px 20px 0px 20px;
}
.panels-wrapper h2 {
  font-weight: 300;
  font-size: 16px;
  padding: 10px 20px 0px 20px;
  color: #666;
}
.panel {
  background: #fff;
  font-weight: 300;
  margin: 10px 0;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.panel h2 {
  font-size: 16px;
  margin-bottom: 9px;
  font-weight: 400;
  padding: 0;
}
.panel .panel-header {
  background-color: #f7f7f7;
  padding: 15px 20px;
}
.panel .panel-header p {
  font-size: 16px;
  color: #444;
  font-weight: 300;
  display: inline-block;
  padding: 5px 0;
}
.panel .panel-header button.button-circle {
  position: absolute;
  top: 30px;
  right: 20px;
}
.panel .panel-header .pull-right {
  float: right;
  margin-right: 0;
  text-align: right;
}
.panel .panel-header .pull-right .form-group {
  margin-right: 0;
  margin-left: 15px;
}
.panel .panel-header .form-group {
  display: inline-block;
  margin: 0;
  width: 190px;
  margin-right: 15px;
}
.panel .panel-header .form-group.fg-checkbox {
  width: auto;
  margin-right: 50px;
}
.panel .panel-header .form-group.fg-labeled {
  margin-left: 20px;
  width: auto;
  margin-right: 0;
}
.panel .panel-header .form-group.fg-labeled label {
  width: 30px;
  padding-right: 7px;
  font-weight: 400;
}
.panel .panel-header .form-group.fg-labeled .fg-input {
  width: 140px;
}
.panel .panel-header .form-group.fg-submit {
  width: auto;
  margin-left: 20px;
}
.panel .panel-header .form-group.fg-submit input {
  background-color: #0dac5c;
  border: none;
  background-image: url(../images/buttons/search-white.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  margin-top: -12px;
  border-radius: 50%;
  z-index: 20;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.27);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.27);
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.panel .panel-header .form-group.fg-submit input:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.panel .panel-header .form-group.fg-submit input:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.panel .panel-header .form-group label {
  display: inline-block;
}
.panel .panel-header .form-group .fg-input {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  line-height: normal;
  height: 32px;
}
.panel .panel-header .form-group .fg-input:focus {
  border-bottom-width: 1px;
}
.panel .panel-content {
  padding: 20px;
}
.panel .panel-footer {
  background: #f5f5f5;
  padding: 20px;
  text-align: right;
}
.panel .panel-footer button {
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: #0dac5c;
  color: #fff;
  padding: 11px 10px;
  margin: 0 3px;
  min-width: 135px;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.panel .panel-footer button:hover {
  opacity: .8;
}
.panel .panel-footer button:active {
  opacity: 1;
}
.panel .panel-footer button.primary {
  background: #0dac5c;
  color: #fff;
}
.panel .panel-footer button.secondary {
  background: #e3e3e3;
  color: #333;
}
.button-circle {
  background-color: #0dac5c;
  background-image: url(../images/buttons/plus-white.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  z-index: 20;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.27);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.27);
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.button-circle:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.button-circle:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
/* Inputs */
.form-group {
  margin-bottom: 30px;
}
.form-group label {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.form-group.fg-last {
  margin-bottom: 10px;
}
.form-group .fg-input {
  display: block;
  font-family: 'Roboto';
  width: 100%;
  height: 35px;
  padding: 6px 0px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #000;
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  -webkit-transition: all ease-in-out 0.15s;
          transition: all ease-in-out 0.15s;
}
.form-group .fg-input:focus {
  border-bottom: 2px solid #0dac5c;
}
.form-group .fg-input.icon {
  background-position: left center !important;
  background-repeat: no-repeat !important;
  padding-left: 22px !important;
}
.form-group .fg-input.icon.icon-search {
  background-image: url(../images/search.png);
}
.form-group .fg-input.fg-date {
  background-image: url(../images/select.png) !important;
  background-position: right 73% !important;
  background-repeat: no-repeat !important;
}
.form-group select.fg-input {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 300;
  background-image: url(../images/select.png);
  background-position: right 73%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.form-group select.fg-input:focus {
  outline: none !important;
}
.form-group textarea.fg-input {
  font-family: 'Roboto';
  font-weight: 300;
  border-top: 1px solid transparent;
  padding: 10px 0;
  margin-top: 10px;
  min-height: 90px;
}
.form-group textarea.fg-input:focus {
  outline: none !important;
  border-top: 1px solid #eee;
  padding: 10px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.form-group .fg-checkbox-label {
  font-size: 14px;
  color: #444;
  font-weight: 300;
}
.page-content {
  min-height: 90vh;
}
.page-content > .row {
  margin: 0;
  margin-top: 20px;
}
.page-content > .row .panels-wrapper {
  padding: 0;
}
.page-content > .row .panel {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.page-navbar {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 100;
  background: #f8f8f8;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.page-navbar #operator {
  right: 0;
  margin-right: 0;
}
.page-navbar .page-navbar-scroll {
  position: relative;
  margin-right: 220px;
  overflow: hidden;
}
.page-navbar .page-navbar-scroll .page-navbar-tabs {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0;
  -webkit-transition: margin ease 0.2s;
          transition: margin ease 0.2s;
}
.page-navbar .pns-l,
.page-navbar .pns-r {
  display: block;
  cursor: pointer;
  background-color: #f8f8f8;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  position: absolute;
  width: 30px;
  top: 0;
  bottom: 1px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
          background-size: 16px;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.page-navbar .pns-l:hover,
.page-navbar .pns-r:hover {
  background-color: #f1f1f1;
}
.page-navbar .pns-l {
  left: 0;
  background-image: url(../images/scroll-left.png);
}
.page-navbar .pns-r {
  right: 0;
  background-image: url(../images/scroll-right.png);
}
.panel-content .data-table,
.modal-content .data-table {
  margin: -15px -20px;
}
.panel-content .data-table {
  margin-bottom: -20px;
}
.data-table table th,
.data-table table td {
  padding: 13px 20px;
  font-size: 13px;
}
.data-table table th {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.data-table table th.sortable {
  background-image: url(../images/table-sort.png);
  background-position: 90% center;
  background-repeat: no-repeat;
}
.data-table table th.sortable:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.data-table table tr:hover td {
  background: #f6efef !important;
}
.data-table table td {
  -webkit-transition: background ease 0.15s;
          transition: background ease 0.15s;
  color: #111;
  vertical-align: top;
}
.data-table table td button {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 12px 12px;
          background-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  margin-bottom: -5px;
  float: right;
  margin-left: 10px;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.data-table table td button.edit {
  background-image: url(../images/button-edit.png);
}
.data-table table td button.menu {
  background-image: url(../images/buttons/button.png);
}
.data-table table td button.remove {
  background-image: url(../images/button-remove.png);
}
.data-table table td button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.data-table table td button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.data-table table tr:nth-child(odd) td {
  background: #fafafa;
}
.data-table table .form-group {
  margin-bottom: 5px;
}
.data-table table .fg-input {
  background-color: transparent;
}
.data-table .pagination {
  margin-bottom: -20px;
  padding: 20px;
  background: #fafafa;
}
.data-table .pagination li {
  display: inline-block;
  margin-right: -3px;
}
.data-table .pagination li.active a {
  color: #fff;
  background: #0dac5c;
}
.data-table .pagination li.disabled a {
  color: #999;
  background: #f1f1f1;
}
.data-table .pagination a {
  display: inline-block;
  background: #e2e2e2;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  color: #555;
  font-size: 14px;
  -webkit-transition: all ease 0.15s;
          transition: all ease 0.15s;
}
.data-table .pagination a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.data-table .pagination a:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
body .pickmeup {
  background: #0dac5c;
  border-radius: 0;
}
body .pickmeup .pmu-instance .pmu-selected {
  background: #fff;
  color: #0dac5c;
}
body .pickmeup .pmu-instance .pmu-today {
  background: #0dac5c;
  color: #f0a503;
}
.page-scroller {
  max-height: 100vh;
  position: relative;
}
.page-navbar-tabs ul,
.panel-header-tabs ul {
  margin-left: 20px;
}
.page-navbar-tabs ul li,
.panel-header-tabs ul li {
  display: inline-block;
}
.page-navbar-tabs ul li.active a,
.panel-header-tabs ul li.active a {
  border-bottom: 3px solid #03dc6f;
}
.page-navbar-tabs ul li a,
.panel-header-tabs ul li a {
  line-height: 58px;
  padding: 0 30px;
  color: #111;
  display: block;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .8px;
}
.page-navbar-tabs ul li a:hover,
.panel-header-tabs ul li a:hover {
  border-bottom: 3px solid #ccc;
}
.page-navbar-tabs {
  margin-right: 220px;
}
.page-navbar-tabs ul {
  margin-left: 10px;
  width: auto;
  white-space: nowrap;
}
.page-navbar-tabs ul li a {
  padding: 0 20px;
  letter-spacing: .8px;
  font-size: 12px;
}
.panel-header-tabs {
  margin: -15px -20px;
  padding-top: 3px;
}
.panel-header-tabs ul {
  margin-left: 0;
}
.panel-header-tabs ul li a {
  line-height: 50px;
  font-size: 11px;
}
.panel-header {
  position: relative;
}
.panel-header-right {
  position: absolute;
  right: 0;
  top: 10px;
}
.circle {
  background: #ccc;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  text-indent: 20px;
  font-size: 11px;
  color: #666;
  display: block;
  margin-top: 3px;
}
.circle.green {
  background: #0dac5c;
}
.circle.yellow {
  background: yellow;
}
.circle.orange {
  background: orange;
}
.circle.red {
  background: red;
}
.circle.gray {
  background: gray;
}
a.circle:hover {
  -webkit-transform: scale(1.14);
      -ms-transform: scale(1.14);
          transform: scale(1.14);
  color: rgba(0, 0, 0, 0);
}
a.circle:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}
a.circle.green:hover {
  background: gray;
}
a.circle.gray:hover {
  background: #0dac5c;
}
.settings-account-type {
  background-image: url(../images/messengers/whatsapp.png);
  background-position: left center;
  -webkit-background-size: 26px 26px;
          background-size: 26px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 35px;
  line-height: 26px;
  margin: -5px 0;
}
.settings-account-type.whatsapp {
  background-image: url(../images/messengers/whatsapp.png);
}
.settings-account-type.facebook {
  background-image: url(../images/messengers/facebook.png);
}
.settings-account-type.instagram {
  background-image: url(../images/messengers/instagram.png);
}
.settings-account-type.odnoklassniki {
  background-image: url(../images/messengers/odnoklassniki.png);
}
.settings-account-type.skype {
  background-image: url(../images/messengers/skype.png);
}
.settings-account-type.viber {
  background-image: url(../images/messengers/viber.png);
}
.settings-account-type.vk {
  background-image: url(../images/messengers/vk.png);
}
.account-type-messenger {
  background-image: url(../images/messengers/whatsapp.png);
  background-position: left center;
  -webkit-background-size: 32px 32px;
          background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 40px;
  margin: 15px 0;
  color: #222;
  line-height: 32px;
  display: block;
}
.account-type-messenger.whatsapp {
  background-image: url(../images/messengers/whatsapp.png);
}
.account-type-messenger.facebook {
  background-image: url(../images/messengers/facebook.png);
}
.account-type-messenger.instagram {
  background-image: url(../images/messengers/instagram.png);
}
.account-type-messenger.odnoklassniki {
  background-image: url(../images/messengers/odnoklassniki.png);
}
.account-type-messenger.skype {
  background-image: url(../images/messengers/skype.png);
}
.account-type-messenger.viber {
  background-image: url(../images/messengers/viber.png);
}
.account-type-messenger.vk {
  background-image: url(../images/messengers/vk.png);
}
.account-type-messenger.add {
  font-family: Roboto;
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-size: 11px;
}
.modal-data {
  max-width: 750px;
}
.modal-data .modal-content {
  padding-top: 0;
}
button.data-menu {
  background-image: url(../images/buttons/button.png);
}
.modal-account {
  max-width: 410px;
}
.modal-account.modal-account-whatsapp .modal-header {
  background-color: #48be32;
  border-top: 3px solid #399627;
  background-image: url(../images/add-messenger/whatsapp.png);
}
.modal-account.modal-account-whatsapp .modal-content .fg-input:focus {
  border-bottom-color: #48be32;
}
.modal-account.modal-account-whatsapp .modal-footer button.primary {
  background: #48be32;
}
.modal-account.modal-account-facebook .modal-header {
  background-color: #435b9a;
  border-top: 3px solid #344676;
  background-image: url(../images/add-messenger/facebook.png);
}
.modal-account.modal-account-facebook .modal-content .fg-input:focus {
  border-bottom-color: #435b9a;
}
.modal-account.modal-account-facebook .modal-footer button.primary {
  background: #435b9a;
}
.modal-account .mfp-close {
  color: #fff !important;
  opacity: 0;
  display: none;
}
.modal-account .modal-header {
  color: #fff;
  background-color: #0dac5c;
  border-top: 3px solid #097d43;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-position: 95% center;
}
.modal-account .modal-header p {
  color: #fff;
}
.modal-account .modal-content p {
  font-size: 13px;
  margin-bottom: 15px;
}
.modal-account .modal-content .fg-input:focus {
  border-bottom-color: #0dac5c;
}
.modal-account .modal-content .activation {
  padding: 85px 0 65px 0;
}
.modal-account .modal-content label.fg-checkbox-label {
  font-size: 13px;
  line-height: 1.4;
  /* text-indent: 70px; */
  margin-left: 30px;
  margin-top: -19px;
  display: inline-block;
}
.modal-account .modal-content .done {
  text-align: center;
  padding-top: 170px;
  padding-bottom: 50px;
  font-size: 17px;
  font-weight: 300;
  color: #333;
  background-image: url(../images/add-messenger/done.png);
  background-position: center 30%;
  background-repeat: no-repeat;
}
.modal-account .modal-content .error {
  text-align: center;
  padding-top: 170px;
  padding-bottom: 50px;
  font-size: 17px;
  font-weight: 300;
  color: #333;
  background-image: url(../images/add-messenger/error.png);
  background-position: center 30%;
  background-repeat: no-repeat;
}
.modal-account .modal-footer button.primary {
  background: #0dac5c;
}
.modal-add-user {
  max-width: 410px;
}
.modal-add-user .modal-header {
  text-align: center;
}
.modal-add-user .modal-header .company-info {
  margin-top: 15px;
  margin-bottom: 25px;
}
.modal-add-user .modal-header .company-info .company-name {
  font-size: 15px;
  font-weight: 400;
  word-break: break-all;
  word-wrap: break-word;
}
.modal-add-user .modal-header p {
  text-transform: uppercase;
  letter-spacing: .4px;
  color: #444;
  font-size: 11px;
}
.modal-add-user .modal-content .form-group {
  margin-bottom: 20px;
}
.modal-add-user .modal-content .form-group.fg-last {
  margin-bottom: 0px;
}
#page-settings-company .account-type-messenger {
  margin: 10px 0;
}
#page-settings-company .settings-company-logo {
  background-color: #f7f7f7;
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
#page-settings-company .settings-company-logo-edit {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/edit.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: .3;
}
#page-settings-company .settings-company-logo-edit:hover {
  opacity: .6;
}
#page-settings-company .settings-company-info {
  margin-top: 15px;
  margin-bottom: 20px;
}
#page-settings-company .settings-company-info-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.2;
  word-break: break-all;
  white-space: pre-wrap;
}
#page-settings-company .settings-company-info-name-edit {
  display: inline-block;
  background-image: url(../images/edit.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  opacity: .3;
}
#page-settings-company .settings-company-info-name-edit:hover {
  opacity: .6;
}
#page-settings-company .settings-company-info-tarif {
  font-size: 15px;
}
#page-settings-company .settings-company-info-licence {
  font-size: 13px;
}
#page-settings-company .settings-company-info-users {
  font-size: 13px;
  color: #777;
  margin-top: 3px;
}
#page-settings-company .sc-tarif {
  position: relative;
  padding: 10px 15px;
}
#page-settings-company .sc-tarif-select {
  position: absolute;
  top: 8px;
  right: 0;
  text-align: center;
}
#page-settings-company .sc-tarif-select p {
  font-size: 11px;
  padding-top: 3px;
  color: #555;
}
#page-settings-company .sc-tarif-select button {
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: #0dac5c;
  color: #fff;
  padding: 9px 12px;
  margin: 0;
  min-width: 100px;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
#page-settings-company .sc-tarif-select button:hover {
  opacity: .8;
}
#page-settings-company .sc-tarif-select button:active {
  opacity: 1;
}
#page-settings-company .sc-tarif-select button.primary {
  background: #0dac5c;
  color: #fff;
}
#page-settings-company .sc-tarif-select button.secondary {
  background: #e3e3e3;
  color: #fff;
}
#page-settings-company .sc-tarif-title {
  font-size: 22px;
  font-weight: 400;
}
#page-settings-company .sc-tarif-subtitle {
  font-size: 13px;
  color: #777;
}
#page-settings-company .sc-tarif-price {
  margin-top: 20px;
  margin-bottom: 25px;
}
#page-settings-company .sc-tarif-price-amount {
  font-size: 32px;
  font-weight: 400;
}
#page-settings-company .sc-tarif-price-amount i {
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
}
#page-settings-company .sc-tarif-price-text i {
  color: #777;
}
#page-settings-company .sc-tarif-addprice {
  margin: 5px 0;
  color: #333;
}
#page-settings-company .sc-tarif-addprice .price {
  font-size: 22px;
  font-weight: 400;
}
#page-settings-company .sc-tarif-addprice .price i {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
#page-settings-company .sc-tarif-support {
  padding: 5px 0;
  padding-left: 30px;
  color: #333;
  background-image: url(../images/tarif-support.png);
  background-position: left center;
  background-repeat: no-repeat;
}
.modal-edit-group .ps-scroller {
  max-height: 240px !important;
}
.modal-edit-group .form-group {
  margin-top: -18px;
  margin-bottom: 18px;
}
.modal-edit-group .operators-list {
  margin-top: 0;
}
.modal-edit-group .label {
  background-color: #f7f7f7;
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #777;
  padding: 12px 20px;
  margin: 0 -20px;
}
.modal-edit-group .modal-chat-as-operator-item-forward.delete {
  background-color: #fff;
  color: #888;
  font-size: 16px;
}
#page-report-main .page-content {
  position: relative;
}
#page-report-main .page-report-main-content {
  position: absolute;
  top: 0;
  right: 220px;
}
#page-report-main .page-report-main-sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  width: 220px;
}
#page-report-main .page-report-main-sidebar .panel {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#page-report-main .page-report-main-sidebar .panel .panel-header {
  padding: 12px 20px;
  text-align: center;
}
#page-report-main .page-report-main-sidebar .panel .panel-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .ps-scroller {
  position: absolute;
  top: 69px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  max-height: none;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .modal-chat-as-operator-item {
  padding: 11px 20px 8px 0;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .modal-chat-as-operator-item .modal-chat-as-operator-item-avatar-image {
  width: 44px;
  height: 44px;
  top: -7px;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .modal-chat-as-operator-item .modal-chat-as-operator-item-name {
  font-size: 14px;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .modal-chat-as-operator-item .modal-chat-as-operator-item-contact {
  font-size: 11px;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .modal-chat-as-operator-item .modal-chat-as-operator-item-avatar {
  left: 14px;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .modal-chat-as-operator-item .modal-chat-as-operator-item-content {
  padding-top: 4px;
  padding-left: 68px;
}
#page-report-main .page-report-main-sidebar .panel .panel-content .circle {
  position: absolute;
  right: 10px;
  top: 27px;
}
#page-report-main .operators-list {
  max-height: 70vh;
  margin: -20px;
}
#page-report-main .report-item {
  padding: 0 40px;
}
#page-report-main .report-item h2 {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  color: #111;
  background-image: url(../images/report-chats.png);
  background-position: right center;
  background-repeat: no-repeat;
}
#page-report-main .report-item-chats h2 {
  background-image: url(../images/report-chats.png);
}
#page-report-main .report-item-messages h2 {
  background-image: url(../images/report-messages.png);
}
#page-report-main .report-item-attachments h2 {
  background-image: url(../images/report-attachments.png);
}
#page-report-main .report-item tr td {
  padding: 4px 0px;
}
#page-report-main .report-item tr td.title {
  color: #444;
}
#page-report-main .report-item tr td.val {
  text-align: right;
}
#page-report-main .report-graph {
  background-color: #fafafa;
  margin: -20px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.gallery-wrapper .gallery-item {
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 3px;
  border: 2px solid transparent;
  -webkit-transition: border-color ease 0.15s;
          transition: border-color ease 0.15s;
}
.gallery-wrapper .gallery-item-preview {
  width: 130px;
  height: 130px;
  background-color: #f1f1f1;
  background-position: center center;
  -webkit-background-size: contain contain;
          background-size: contain;
  background-repeat: no-repeat;
}
.gallery-wrapper .gallery-item.gallery-item-audio .gallery-item-preview {
  background-image: url(../images/audio.png);
  -webkit-background-size: 32px 32px;
          background-size: 32px;
}
.gallery-wrapper .gallery-item-title {
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
}
.gallery-wrapper .gallery-item:hover {
  border-color: #f1f1f1;
}
.gallery-wrapper .gallery-item.selected {
  border-color: #0dac5c;
}
.gallery-wrapper .gallery-item.selected .gallery-item-title {
  font-weight: 400;
}
.page-navbar-menu .menu {
  right: 230px;
}
.page-navbar-menu .menu.menu-left {
  left: 15px;
}
.page-navbar-menu .search {
  display: inline-block;
  width: 300px;
}
.page-navbar-menu .search input {
  background-image: url(../images/search.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  border: 1px solid #e1e1e1;
  padding-left: 80px;
  margin-top: 12px;
  margin-left: 15px;
  line-height: 30px;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
.page-navbar-menu .search input:focus {
  padding-left: 40px;
  border-color: #bbb;
}
.panel-menu {
  margin-top: 25px;
}
.panel-menu h2 {
  font-weight: 400;
  font-size: 18px;
  padding: 0px 20px 0px 20px;
  color: #222;
  margin-bottom: 15px;
}
.panel-menu ul {
  margin-left: 20px;
}
.panel-menu li a {
  margin-top: 5px;
  display: block;
  padding: 11px 15px;
  margin-left: -15px;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  border-radius: 5px;
}
.panel-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.02);
  color: #111;
}
.panel-menu li a:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.panel-menu li.active a {
  background-color: rgba(0, 0, 0, 0.07);
}
.fg-input.fg-tall {
  min-height: 300px !important;
  resize: none;
}
.page-mail-templates-placeholders h3 {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.page-mail-templates-placeholders ul li {
  margin-bottom: 5px;
}
.page-mail-templates-placeholders .pmtp-name {
  color: purple;
}
.page-mail-templates-placeholders .pmtp-value {
  color: #666;
}
.panel-content .row .tips p {
  margin-bottom: 10px;
  color: #444;
}
.panel-content > .row.row-form {
  margin-top: 10px;
}
#page-contacts-list {
  width: 30%;
  background: #f1f1f1;
  position: relative;
  max-height: 100vh;
}
#page-contacts-list #page-contacts-list-add-contact {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#page-contacts-list .scroller {
  max-height: 100vh;
  margin: 0 -15px;
  padding: 0 15px;
  position: relative;
}
#page-contacts-list .scroller .content {
  padding-bottom: 60px;
}
#page-contacts-list .pane-header {
  border-botttom: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
  background: #fbfbfb;
  position: relative;
  z-index: 2;
}
#page-contacts-list .pane-header input {
  background-image: url(../images/search.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  border: 1px solid #e1e1e1;
  padding-left: 80px;
  margin-top: 3px;
  line-height: 30px;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
#page-contacts-list .pane-header input:focus {
  padding-left: 40px;
  border-color: #bbb;
}
#page-contacts-list .page-contacts-list-item-letter {
  background: #fbfbfb;
  margin: 0 -15px;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 300;
  color: #0dac5c;
}
#page-contacts-list .page-contacts-list-item {
  background: #fff;
  padding: 15px 15px 13px 0;
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  margin: 0 -15px;
  padding-right: 36px;
  -webkit-transition: background ease 0.15s;
          transition: background ease 0.15s;
}
#page-contacts-list .page-contacts-list-item:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}
#page-contacts-list .page-contacts-list-item.active {
  background: #f6f6f6;
}
#page-contacts-list .page-contacts-list-item .page-contacts-list-item-avatar {
  position: absolute;
  top: 0;
  left: 15px;
  width: 80px;
  padding-top: 15px;
}
#page-contacts-list .page-contacts-list-item .page-contacts-list-item-avatar-image {
  width: 50px;
  height: 50px;
  background-position: center center;
  -webkit-background-size: cover cover;
          background-size: cover;
  border-radius: 50%;
}
#page-contacts-list .page-contacts-list-item .page-contacts-list-item-avatar-messengertype {
  position: absolute;
  background-image: url(../images/messengertype-whatsapp.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  left: 5px;
  bottom: -4px;
}
#page-contacts-list .page-contacts-list-item .page-contacts-list-item-content {
  width: 100%;
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#page-contacts-list .page-contacts-list-item .page-contacts-list-item-name {
  font-size: 15px;
  margin-bottom: 1px;
  white-space: nowrap;
}
#page-contacts-list .page-contacts-list-item .page-contacts-list-item-contact {
  font-size: 12px;
  font-weight: 200;
  color: #666;
  width: 70%;
}
#page-contacts-body {
  background: #f1eded;
  position: relative;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  width: 50%;
}
#page-contacts-body .pane-header {
  position: relative;
  z-index: 1;
}
#page-contacts-body #page-contacts-body-body {
  max-height: 100vh;
  top: 60px;
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
#page-contacts-body #page-contacts-body-body-scroller {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics tr td {
  padding: 4px 0px;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics tr td.title {
  color: #444;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics .page-contacts-body-statistics-last-message .title {
  color: #444;
  padding-bottom: 5px;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics .page-contacts-body-statistics-last-message .text {
  font-size: 13px;
  line-height: 1.3;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics .page-contacts-body-statistics-last-message .time {
  padding-top: 2px;
  color: #444;
  font-size: 11px;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics .page-contacts-body-statistics-tickets .title {
  color: #444;
  padding-bottom: 5px;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics .page-contacts-body-statistics-tickets .ticket {
  display: block;
  color: #000;
  padding-bottom: 5px;
}
#page-contacts-body #page-contacts-body-body .page-contacts-body-statistics .page-contacts-body-statistics-tickets .ticket:hover {
  color: #0dac5c;
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger {
  display: block;
  font-size: 13px;
  font-weight: 300;
  margin: 8px 0;
  line-height: 30px;
  padding-left: 40px;
  background-image: url(../images/messengers/whatsapp.png);
  background-position: left center;
  -webkit-background-size: 30px 30px;
          background-size: 30px;
  background-repeat: no-repeat;
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.whatsapp {
  background-image: url(../images/messengers/whatsapp.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.viber {
  background-image: url(../images/messengers/viber.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.skype {
  background-image: url(../images/messengers/skype.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.facebook {
  background-image: url(../images/messengers/facebook.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.vkontakte {
  background-image: url(../images/messengers/vk.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.odnoklassniki {
  background-image: url(../images/messengers/odnoklassniki.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.instagram {
  background-image: url(../images/messengers/instagram.png);
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.add {
  color: #555;
}
#page-contacts-body #page-contacts-body-body .page-chat-contacts-body-messenger.add:hover {
  opacity: .8;
}
#page-contacts-userinfo {
  width: 20%;
  background: #fbfbfb;
}
#page-contacts-userinfo #page-contacts-userinfo-scroller {
  max-height: 100vh;
}
#page-contacts-userinfo hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 15px 0;
}
#page-contacts-userinfo .page-contacts-userinfo {
  padding: 0 15px;
  padding-top: 60px;
}
#page-contacts-userinfo .page-contacts-userinfo-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-background-size: cover cover;
          background-size: cover;
  background-position: center center;
  margin: 30px auto;
}
#page-contacts-userinfo .page-contacts-userinfo label {
  font-size: 13px;
  font-weight: 300;
  color: #444;
}
#page-contacts-userinfo .page-contacts-userinfo-name {
  font-size: 16px;
}
#page-contacts-userinfo .page-contacts-userinfo-phone {
  margin-top: -5px;
  font-size: 11px;
  color: #444;
  font-weight: 300;
}
#page-contacts-userinfo .page-contacts-userinfo-meta {
  font-size: 13px;
  font-weight: 300;
  color: #444;
  margin-top: 5px;
}
#page-contacts-userinfo .page-contacts-userinfo-data {
  margin: 15px 0;
  position: relative;
}
#page-contacts-userinfo .page-contacts-userinfo-data label {
  font-weight: 300;
  color: #666;
  font-size: 12px;
}
#page-contacts-userinfo .page-contacts-userinfo-data.comments .page-contacts-userinfo-data-content {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  color: #222;
}
#page-contacts-userinfo .page-contacts-userinfo-data-content {
  font-size: 14px;
}
#page-contacts-userinfo .page-contacts-userinfo-data-edit {
  opacity: .2;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-image: url(../images/edit.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 2px;
  right: 0;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
  cursor: pointer;
}
#page-contacts-userinfo .page-contacts-userinfo-data-edit:hover {
  opacity: .7;
}
#page-contacts-userinfo .page-contacts-userinfo-data-edit:active {
  opacity: 1;
}
#modal-chat-history .modal-content {
  background: #f1eded;
  padding: 0;
}
#modal-chat-history-scroller {
  height: 400px;
  padding: 15px;
  position: relative;
}
.modal-chat-history-message-wrapper {
  clear: both;
}
.modal-chat-history-message {
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 17px;
  margin: 10px 5px;
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
  max-width: 80%;
}
.modal-chat-history-message-name {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
  font-weight: 300;
}
.modal-chat-history-message-time {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #333;
}
.modal-chat-history-message-text {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.modal-chat-history-message.outcoming {
  float: right;
  padding-right: 35px;
  border: 1px solid #a8d9b9;
}
.modal-chat-history-message.outcoming.message-status-delivered {
  background-image: url(../images/chat/message-status-delivered.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.modal-chat-history-message.outcoming.message-status-undelivered {
  background-image: url(../images/chat/message-status-undelivered.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.modal-chat-history-message.outcoming.message-status-read {
  background-image: url(../images/chat/message-status-read.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.modal-chat-history-message.outcoming .modal-chat-history-message-name {
  color: #0dac5c;
}
.modal-chat-history-message.closed {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border: 1px solid #ccc;
}
.modal-chat-history-message.closed .modal-chat-history-message-text {
  margin-top: 0;
  color: #666;
}
.modal-chat-history-message.attached {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  border: none;
}
.modal-chat-history-message.attached.delivered {
  background-position: right top;
}
.modal-chat-history-message.attached .modal-chat-history-message-name {
  padding-left: 16px;
}
.modal-chat-history-message.attached.attached-image .modal-chat-history-message-attachment:after {
  background-image: url(../images/chat/attached-image.png);
}
.modal-chat-history-message.attached.attached-video .modal-chat-history-message-attachment:after {
  background-image: url(../images/chat/attached-video.png);
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment-audio {
  display: block;
  background-color: #fff;
  padding: 12px 17px;
  margin: 10px 5px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
  width: 60px;
  height: 60px;
  background-image: url(../images/chat/attached-audio.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: none;
  position: relative;
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment-audio:hover {
  opacity: .8;
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment-audio:focus {
  outline: none;
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment {
  display: block;
  background-color: #fff;
  padding: 12px 17px;
  margin: 10px 5px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.06);
  width: 360px;
  height: 250px;
  -webkit-background-size: cover cover;
          background-size: cover;
  border-radius: 5px;
  border: none;
  position: relative;
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  border-radius: 5px;
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment:hover:after {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-chat-history-message.attached .modal-chat-history-message-attachment:focus {
  outline: none;
}
#modal-chat-forward-to-operator .modal-content {
  padding: 0;
}
#modal-chat-forward-to-operator .ps-scroller {
  max-height: 400px;
  position: relative;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item {
  background: #fff;
  padding: 10px 20px 10px 0;
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding-right: 36px;
  -webkit-transition: background ease 0.15s;
          transition: background ease 0.15s;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item:hover .modal-chat-fto-operator-item-forward {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item:active {
  background: #f6f6f6;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item:active .modal-chat-fto-operator-item-forward {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item .modal-chat-fto-operator-item-avatar {
  position: absolute;
  top: -5px;
  left: 20px;
  width: 80px;
  padding-top: 15px;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item .modal-chat-fto-operator-item-avatar-image {
  width: 47px;
  height: 47px;
  background-position: center center;
  -webkit-background-size: cover cover;
          background-size: cover;
  border-radius: 50%;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item .modal-chat-fto-operator-item-content {
  width: 100%;
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item .modal-chat-fto-operator-item-name {
  font-size: 15px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-weight: 400;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item .modal-chat-fto-operator-item-contact {
  font-size: 12px;
  font-weight: 200;
  color: #666;
  width: 70%;
}
#modal-chat-forward-to-operator .modal-chat-fto-operator-item .modal-chat-fto-operator-item-forward {
  position: absolute;
  right: 20px;
  top: 19px;
  background: #0dac5c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
#modal-chat-forward-to-group .modal-content {
  padding: 0;
}
#modal-chat-forward-to-group .ps-scroller {
  max-height: 400px;
  position: relative;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item {
  background: #fff;
  padding: 10px 20px 10px 0;
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding-right: 36px;
  -webkit-transition: background ease 0.15s;
          transition: background ease 0.15s;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item:hover .modal-chat-ftg-operator-item-forward {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item:active {
  background: #f6f6f6;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item:active .modal-chat-ftg-operator-item-forward {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item .modal-chat-ftg-operator-item-content {
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item .modal-chat-ftg-operator-item-name {
  font-size: 15px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-weight: 400;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item .modal-chat-ftg-operator-item-contact {
  font-size: 12px;
  font-weight: 200;
  color: #666;
  width: 70%;
}
#modal-chat-forward-to-group .modal-chat-ftg-operator-item .modal-chat-ftg-operator-item-forward {
  position: absolute;
  right: 20px;
  top: 12px;
  background: #0dac5c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.operators-list {
  margin: -30px -20px;
}
.modal-chat-as-search {
  background: #fbfbfb;
  padding: 7px 10px;
}
.modal-chat-as-search input {
  background-image: url(../images/search.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  border: 1px solid #e1e1e1;
  padding-left: 80px;
  margin-top: 3px;
  line-height: 30px;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}
.modal-chat-as-search input:focus {
  padding-left: 40px;
  border-color: #bbb;
}
.modal-content {
  padding: 0;
}
.ps-scroller {
  max-height: 400px;
  position: relative;
}
.modal-chat-as-operator-item {
  background: #fff;
  padding: 10px 20px 10px 0;
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding-right: 36px;
  -webkit-transition: background ease 0.15s;
          transition: background ease 0.15s;
}
.modal-chat-as-operator-item:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}
.modal-chat-as-operator-item:hover .modal-chat-as-operator-item-forward {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.modal-chat-as-operator-item:active {
  background: #f6f6f6;
}
.modal-chat-as-operator-item:active .modal-chat-as-operator-item-forward {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.modal-chat-as-operator-item .modal-chat-as-operator-item-avatar {
  position: absolute;
  top: -5px;
  left: 20px;
  width: 80px;
  padding-top: 15px;
}
.modal-chat-as-operator-item .modal-chat-as-operator-item-avatar-image {
  width: 47px;
  height: 47px;
  background-position: center center;
  -webkit-background-size: cover cover;
          background-size: cover;
  border-radius: 50%;
}
.modal-chat-as-operator-item .modal-chat-as-operator-item-content {
  width: 100%;
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-chat-as-operator-item .modal-chat-as-operator-item-name {
  font-size: 15px;
  margin-bottom: 1px;
  white-space: nowrap;
  font-weight: 400;
}
.modal-chat-as-operator-item .modal-chat-as-operator-item-contact {
  font-size: 12px;
  font-weight: 200;
  color: #666;
  width: 70%;
}
.modal-chat-as-operator-item .modal-chat-as-operator-item-forward {
  position: absolute;
  right: 20px;
  top: 19px;
  background: #0dac5c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.page-login {
  overflow-y: auto !important;
}
.page-login #app {
  min-height: 100vh;
}
.page-login .page-login-background {
  background-image: url(../images/try-bg.jpg);
  height: 442px;
  margin-bottom: -442px;
}
.page-login ul.menu:hover a {
  color: rgba(0, 0, 0, 0.3);
}
.page-login ul.menu li {
  margin-right: 25px;
}
.page-login ul.menu li a {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 13px;
  display: inline-block;
}
.page-login ul.menu li a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}
.page-login ul.menu li {
  display: inline-block;
}
.page-login .logo {
  margin-top: 150px;
  text-align: center;
}
.page-login .logo img {
  width: 160px;
}
.page-login .login-form {
  position: relative;
  max-width: 630px;
  padding: 60px 100px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
.page-login .login-form h1 {
  font-weight: 300;
  font-size: 30px;
  color: #105d3d;
  margin-bottom: 20px;
}
.page-login .login-form h2 {
  font-weight: 300;
  font-size: 16px;
  color: #333;
  margin-bottom: 40px;
}
.page-login .login-form .form-group .fg-input {
  font-size: 16px;
}
.page-login .login-form .form-group .fg-input.fg-caps {
  background-image: url('../images/caps.png');
  background-position: right center;
  background-repeat: no-repeat;
}
.page-login .login-form .submit {
  background-color: #0dac5c;
  background-image: url(../images/login-button-send.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  right: -35px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
}
.page-login .login-form .submit:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.page-login .login-form .submit:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.page-login .login-form .lostpassword,
.page-login .login-form .link {
  text-align: right;
}
.page-login .login-form .lostpassword a,
.page-login .login-form .link a {
  font-size: 14px;
  color: #444;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}
.page-login .login-form .lostpassword a:hover,
.page-login .login-form .link a:hover {
  color: #0dac5c;
  border-bottom-color: #0dac5c;
}
.page-login .login-form .link {
  text-align: left;
}
header {
  line-height: 80px;
  position: static;
  margin-bottom: -100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: top 0.25s ease-in;
          transition: top 0.25s ease-in;
}
header:not(.sticked) ul.menu:hover a {
  color: rgba(255, 255, 255, 0.3);
}
header:not(.sticked) ul.menu li a:hover {
  color: #fff !important;
}
header:not(.sticked) .btn {
  border-color: #fff;
  color: #fff;
}
header:not(.sticked) .btn:hover {
  background: #fff !important;
  color: #176766 !important;
}
header .right {
  text-align: right;
}
header .menu li a {
  line-height: 80px;
  color: #fff;
}
header .phone {
  display: inline-block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
header .phone span {
  font-size: 14px;
}
header .register,
header .login {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
header .register .btn,
header .login .btn {
  padding: 0 21px;
  line-height: 30px;
  font-size: 13px;
  margin-bottom: 4px;
  vertical-align: middle;
}
header .register .btn:hover,
header .login .btn:hover {
  background: #0dac5c;
  color: #fff;
}
header .register .btn:active,
header .login .btn:active {
  background: #097d43;
  border-color: #097d43;
  color: #fff;
}
header .register {
  margin-right: 5px;
}
header .login {
  margin-left: 5px;
}
header .lang {
  display: inline-block;
}
header .lang li {
  margin-right: 5px !important;
}
header .lang li a {
  padding-bottom: 2px;
  line-height: normal;
}
header .lang li a.active {
  border-bottom: 2px solid #fff;
}
header.sticked {
  background: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  opacity: 1 !important;
  position: fixed;
  line-height: 60px;
  top: 0;
}
header.sticked .menu li a {
  line-height: 60px;
  color: #333;
}
header.sticked .lang a {
  line-height: normal !important;
}
header.sticked .lang a.active {
  border-bottom-color: #0dac5c;
}
header.sticked .phone {
  color: rgba(0, 0, 0, 0.8);
}
.btn {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 9px 23px !important;
}
.openapp {
  text-align: right;
}
.openapp .btn {
  border-color: #0dac5c;
  background: #fff;
  color: #0dac5c;
}
.openapp .btn:hover {
  background: #0dac5c;
  color: #fff;
}
footer {
  display: block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 12px;
}
footer .menu {
  margin-top: 20px;
}
footer .menu a {
  color: #999 !important;
}
footer .social {
  margin: 30px 0;
}
footer .address {
  color: rgba(0, 0, 0, 0.35);
}
footer .bottom-links {
  margin: 20px 0;
}
footer .bottom-links a {
  color: #666;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin: 0 10px;
}
footer .bottom-links a:hover {
  color: #0dac5c;
  border-bottom-color: #85f6bd;
}
footer .copyright {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}
