/**
 * New Project Boilerplate
 *
 * me@ernest.asia
 *
 * @fileoverview Main.less
 */
 
 
@import url('./libs/reset.css');
@import url('./libs/grids.css');
/* @import url('./libs/fonts.css'); */
@import url('./libs/animation.css');

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500&subset=latin,cyrillic);

@green: #0dac5c;

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

table {
	width: 100%;
}
hr {
	border: none;
	border-bottom: 1px solid #eee;
	margin: 15px 0;
}


#app {
	min-width: 1200px;
	min-height: 600px;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: @green;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}




button {
	border: 0;
    padding: 0;
    margin: 0;
    background: 0 0;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4;
	
	background-color: #e8e8e8;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	
	-webkit-font-smoothing: antialiased;
	
	overflow: hidden;
	
	&.scrollable-x {
		overflow-x: auto;
	}
}

#app {
	transition: all ease 0.4s;
	transform: scale(1.06);
}
body.active #app {
	opacity: 1 !important;
	transform: scale(1);
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }

a {
	text-decoration: none;
	color: #00a2ff;
	transition: all 0.4s ease;
	
	&:hover {
		transition: all 0.15s ease;
	}
}


.panels-wrapper-header {
	padding: 10px 0 0 0;
	position: relative;
	
	.menu {
		margin-top: 5px;
	}
}


.menu button.icon {
	&.icon-menu { background-image: url(../images/buttons/button.png); }
	&.icon-menu-white { background-image: url(../images/buttons/button-white.png); }
	&.icon-update { background-image: url(../images/buttons/update.png); }
	&.icon-ticket { background-image: url(../images/buttons/ticket.png); }
	&.icon-forward { background-image: url(../images/buttons/forward.png); }
	&.icon-close { background-image: url(../images/buttons/close.png); }
	
	&.icon-plus { background-image: url(../images/buttons/plus.png); }
	&.icon-open-chat { background-image: url(../images/buttons/open-chat.png); }
	&.icon-trash { background-image: url(../images/buttons/archive.png); }
	
	&.icon-export { background-image: url(../images/buttons/export.png); }
	&.icon-print { background-image: url(../images/buttons/print.png); }
	
	&.icon-check { background-image: url(../images/buttons/check.png); }
}

.pane-header,
.page-navbar-tabs,
.page-navbar-menu,
.panels-wrapper-header
 {
	.menu {
		position: absolute;
	    right: 10px;
	    top: 13px;
	    // background: linear-gradient(to right, rgba(255,255,255,0) 0%, #f8f8f8 10%);
		
		.menu-item {
			display: inline-block;
		}
		
		button {
			width: auto;
			
			background-color: transparent;
			background-position: 7px center;
			background-repeat: no-repeat;
			background-size: 16px;
			
			padding: 10px;
			padding-left: 30px;
			padding-top: 11px;
			
			line-height: normal;
			
			border-radius: 5px;
			
			// height: 24px;
			display: inline-block;
			background-repeat: no-repeat;
			
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: .7px;
			
			text-indent: 0;
			margin-left: 1px;
			color: #333;
			
			&[disabled] {
				opacity: .3;
			}
			
			&.no-caption {
				background-position: center center;
				padding: 10px 15px;
				
				text-indent: -5000px;
				width: 16px;
				
			}
			
			transition: all ease 0.3s;
			
			&:hover {
				background-color: rgba(0,0,0,0.05);
			}
			&:active,
			&.active {
				background-color: rgba(0,0,0,0.2);
				transition: all ease 0.1s;
			}
		}
	}
}

.pane {
	background: #fff;
	min-height: 100vh;
	
	.pane-header {
		display: block;
		//overflow: hidden;
		background: #f8f8f8;
		margin: 0 -15px;
		padding: 10px 15px;
		height: 60px;
		
		box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.1);
		
		a {
			color: inherit;
			display: block;
			
			// background: rgba(0,0,0,0.05);
		}
		
		.content {
			float: left;
		}
	}
}

.page {
	width: 100%;
	padding-left: 185px;
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	
	width: 185px;
	
	background: #1f1f1f;
	
	.pane-header {
		background: @green;
		width: 100%;
		margin: 0;
    
		.logo {
			width: 82px;
			margin-top: 7px;
			margin-left: 20px;
		}
		
		&:hover {
			background: lighten(@green,4%);
		}
	}
	
	#company {
		display: block;
		
		
		color: #fff;
		position: absolute;
		bottom: 30px;
		left: 20px;
		
		border-top: 1px solid rgba(255,255,255,0.09);
		
		width: 100%;
		padding-top: 20px;
		transition: all ease 0.3s;
		
		&:hover {
			border-color: rgba(255,255,255,0.15);
			.company-logo img {
				opacity: .8;
			}
			.company-contact {
				opacity: 1;
			}
		}
		
		
		
		.company-logo {
			img {
				transition: all ease 0.3s;
				
				height: 25px;
				opacity: .5;
			}
		}
		
		.company-name {
			font-size: 14px;
			margin-bottom: 7px;
			opacity: .8;
			font-weight: 500;
			// display: none;
			
			
		}
		
		.company-contact {
			transition: all ease 0.3s;
			
			font-size: 11px;
			font-weight: 300;
			padding-left: 20px;
			opacity: .8;
			padding-bottom: 1px;
			
			background-size: 14px;
			
			background-image: url(../images/whatsapp-white.png);
			background-repeat: no-repeat;
			
			margin: 5px 0;
		}
		
		.company-support {
			// transition: all ease 0.3s;
			
			font-size: 11px;
			font-weight: 300;
			padding-left: 20px;
			// opacity: .8;
			padding-bottom: 1px;
			
			background-size: 14px;
			
			background-image: url(../images/company-support.png);
			background-repeat: no-repeat;
			
			margin: 5px 0;
			margin-top: 15px;
		}
	}
	
	.menu {
		margin-left: 20px;
		margin-top: 13px;
		
		li {
			
			
			&.separator {
				height: 01px;
				width: 100%;
				border-bottom: 1px solid rgba(255,255,255,0.09);
				
				margin: 5px 0;
			}
			
			a {
				color: #fff;
				opacity: .7;
				line-height: 30px;
				
				display: inline-block;
				
				width: 100%;
				
				padding: 2px 0;
				padding: 5px 0;
				
				font-size: 13px;
				
				vertical-align: middle;
				
				padding-left: 32px;
				
				background-position: left center;
				background-repeat: no-repeat;
				
				background-image: url(../images/menu/chat.png);
				
				&.contacts { background-image: url(../images/menu/contacts.png); }
				&.gallery { background-image: url(../images/menu/attach.png); }
				&.quickresponses { background-image: url(../images/menu/quickresponse.png); }
				&.reports { background-image: url(../images/menu/reports.png); }
				&.settings { background-image: url(../images/menu/settings.png); }
				&.archive { background-image: url(../images/menu/archive.png); }
				&.tickets { background-image: url(../images/menu/tickets.png); }
				&.pref { background-image: url(../images/menu/pref.png); }
				
				&:hover {
					opacity: 1;
				}
				&.active {
					opacity: 1;
					font-weight: 700;
				}
			}
		}
	}
}

#operator {
	position: absolute;
    top: 0;
	display: block;
	//overflow: hidden;
	background: #f8f8f8;
	margin: 0 -15px;
	padding: 10px 15px;
	height: 60px;
	
	background: @green;
	color: #fff;
	
	position: absolute;
	z-index: 2;
	
	transition: all ease 0.3s;
	
	&:hover {
		background: lighten(@green, 4%);
	}
	
	a {
			color: inherit;
			display: block;
			
			// background: rgba(0,0,0,0.05);
		}
		
		.content {
			float: left;
		}
		
		.menu {
			position: absolute;
		    right: 10px;
		    top: 13px;
		    background: linear-gradient(to right, rgba(255,255,255,0) 0%, #f8f8f8 10%);
			
			.menu-item {
				display: inline-block;
			}
			
			button {
				width: auto;
				
				background-position: 7px center;
				background-repeat: no-repeat;
				background-size: 16px;
				
				padding: 10px;
				padding-left: 30px;
				padding-top: 11px;
				
				line-height: normal;
				
				border-radius: 5px;
				
				// height: 24px;
				display: inline-block;
				background-repeat: no-repeat;
				
				text-transform: uppercase;
				font-size: 10px;
				letter-spacing: .7px;
				
				text-indent: 0;
				margin-left: 1px;
				color: #333;
				
				&.no-caption {
					background-position: center center;
					padding: 10px 15px;
					
					text-indent: -5000px;
					width: 16px;
					
				}
				
				transition: all ease 0.3s;
				
				&:hover {
					background-color: rgba(0,0,0,0.05);
				}
				&:active,
				&.active {
					background-color: rgba(0,0,0,0.2);
					transition: all ease 0.1s;
				}
			}
		}
	
	// менять цвет блока в верхнем правом углу в зависимости от текущего статуса - на месте или отошел
	&.status-online {
		background: @green;
	}
	&.status-away {
		background: orange;
	}
	
	
	.menu {
		background: transparent;
	}
	
	.operator {
		width: 190px;
		

		
	&-avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		
		background-repeat: no-repeat;
		background-size: cover;
		
		margin-right: 10px;
		
		float: left;
	}
	&-name {
		padding-top: 3px;
		font-size: 14px;
		font-weight: 500;
	}
	&-status {
		line-height: 1;
		font-size: 12px;
		font-weight: 300;
		color: rgba(255,255,255,0.8);
	}
	}
}

.clear {
	clear: both;
}

input {
	font-family: Roboto;
	font-weight: 300;
	
	
}




#page-chat-list {
	
	width: 30%;
	
	background: #f1f1f1;
	position: relative;
	max-height: 100vh;
	
	.scroller {
		max-height: 100vh;
		margin: 0 -15px;
		padding: 0 15px;
		position: relative;
		
		.content {
			padding-bottom: 60px;
		}
	}
	
	.pane-header {
		border-botttom: 1px solid #e1e1e1;
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
		background: #fbfbfb;
		
		position: relative;
		z-index: 2;
		
		//position: fixed;
		//z-index: 2;
		//right: 0;
		//left: 0;
		
		input {
			background-image: url(../images/search.png);
			background-position: 15px center;
			background-repeat: no-repeat;
			
			border: 1px solid #e1e1e1;
			padding-left: 80px;
			margin-top: 3px;
			
			line-height: 30px;
			font-size: 13px;
			width: 100%;
			
			border-radius: 4px;
			
			transition: all ease 0.3s;
			
			&:focus {
				padding-left: 40px;
				border-color: #bbb;
			}
		}
	}
	
	.page-chat-list-item {
		background: #fff;
		padding: 15px 15px 13px 0;
		position: relative;
		
		border-bottom: 1px solid #eee;
		
		cursor: pointer;
		// pointer-events: none;
		
		margin: 0 -15px;
		
		padding-right: 36px;
		
		transition: background ease 0.15s;
		
		&:hover {
			background: rgba(0,0,0,0.03) !important;
		}
		&.active {
			background: #f6f6f6;
		}
		
		&-unread {
			width: 20px;
			height: 20px;
			display: inline-block;
			
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -10px;
			
			font-size: 12px;
			text-align: center;
			
			color: #fff;
			margin-left: 3px;
			
			text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
			
			border-radius: 50%;
			line-height: 20px;
			margin-top: -4px;
			
			background: #f6ce2a;
		}
		
		.page-chat-list-item-avatar {
			position: absolute;
			top: 0;
			left: 15px;
			width: 80px;
			
			padding-top: 15px;
			
			&-image {
				width: 64px;
				height: 64px;
				background-position: center center;
				background-size: cover;
				
				border-radius: 50%;
			}
			&-messengertype {
				position: absolute;
				
				background-image: url(../images/messengertype-whatsapp.png);
				background-repeat: no-repeat;
				
				width: 21px;
				height: 22px;
				
				
				left: 5px;
				bottom: -4px;
			}
			
		}
		.page-chat-list-item-content {
			width: 100%;
			padding-left: 95px;
			
			// border-bottom: 1px solid #eee;
		}
		
		.page-chat-list-item-name {
			font-size: 15px;
			margin-bottom: 1px;
			white-space: nowrap;
		}
		
		.page-chat-list-item-contact {
			font-size: 11px;
			font-weight: 200;
			margin-bottom: 3px;
			
			padding-left: 5px;
			
			color: #666;
			
			// float: left;
			width: 70%;
		}
		
		
		.page-chat-list-item-text {
			font-size: 13px;
			font-weight: lighter;
			line-height: 1.2;
			
			color: #333;
			
			margin-bottom: 8px;
		}
		
		.page-chat-list-item-time {
			font-size: 11px;
			color: @green;
			float: left;
			padding-right: 10px;
			//width: 30%;
			
		}
		
		.page-chat-list-item-receiver {
			font-size: 11px;
			font-weight: 200;
			color: #666;
			
			float: left;
			width: 70%;
			
			padding-left: 10px;
			background-image: url(../images/buttons/receive.png);
			background-repeat: no-repeat;
			background-size: 7px;
			background-position: left center;
		}
		
	}
	
}

#page-chat-body {
	background: #f1eded;
	position: relative;
	
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	
	width: 50%;
	
	.pane-header {
		position: relative;
		z-index: 1;
		
	}
	.menu {
		background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, #f8f8f8 10%);
		padding-left: 50px;
	}
	.page-chat-body-header {
		width: 190px;

		&:hover {
			opacity: 0.8;
		}
		
		&-avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			
			background-repeat: no-repeat;
			background-size: cover;
			
			margin-right: 10px;
			
			float: left;
		}
		&-name {
			padding-top: 2px;
			font-size: 15px;
			white-space: nowrap;
		}
		&-status {
			line-height: 1;
			font-size: 12px;
			font-weight: 300;
			color: #333;
		}
		
	}
	
	#page-chat-body-body {
		max-height: 100vh;
		
		top: 60px;
		bottom: 90px;
		position: absolute;
		left: 0px;
		right: 0px;
		
		overflow: hidden;
		
		&-scroller {
			height: 100%;
			width: 100%;
			position: absolute;
		    top: 0;
		    bottom: 0;
		    padding-left: 15px;
		    padding-right: 15px;
		    padding-bottom: 10px;
		    padding-top: 10px;
		}
	}
	
	.page-chat-message-wrapper {
		clear: both;
	}
	.page-chat-message {
		background: #fff;
		border-radius: 5px;
		display: inline-block;
		
		padding: 12px 17px;
		
		margin: 10px 5px;
		
		box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, .06);
		
		max-width: 80%;
		
		
		&-name {
			display: inline-block;
			padding-right: 10px;
		}
		&-time {
			display: inline-block;
			font-size: 12px;
			font-weight: 300;
			color: #333;
		}
		
		&-text {
			margin-top: 5px;
			
			font-size: 13px;
			font-weight: 300;
			
			// Fix 21/10
			word-wrap: break-word;
			white-space: pre-wrap;
		}
		
		&.outcoming {
			float: right;
			padding-right: 35px;
			border: 1px solid #a8d9b9;
			
			
			// Message Statuses
			&.message-status-delivered {
				background-image: url(../images/chat/message-status-delivered.png);
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			&.message-status-undelivered {
				background-image: url(../images/chat/message-status-undelivered.png);
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			&.message-status-read {
				background-image: url(../images/chat/message-status-read.png);
				background-position: right bottom;
				background-repeat: no-repeat;
			}
			
			.page-chat-message-name {
				color: @green;
			}
		}
		
		&.closed {
			margin-left: auto;
		    margin-right: auto;
		    display: block;
		    text-align: center;
			
			
			border: 1px solid #ccc;
			
			.page-chat-message-text {
				margin-top: 0;
				color: #666;
			}
		}
		
		&.attached {
			background: none;
			box-shadow: none;
			
			padding: 0;
			border:none;
			
			&.delivered {
				background-position: right top;
			}
			
			.page-chat-message-name {
				padding-left: 16px;
			}
			
			&.attached-image .page-chat-message-attachment:after { background-image: url(../images/chat/attached-image.png); }
			&.attached-video .page-chat-message-attachment:after { background-image: url(../images/chat/attached-video.png); }
			
			.page-chat-message-attachment-audio {
				display: block;
				
				background-color: #fff;
				padding: 12px 17px;
				margin: 10px 5px;
				margin-top: 5px;
				
				box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, .06);
				
				&:hover {
					opacity: .8;
				}
				&:focus {
					outline: none;
				}
				
				// border: 1px solid #000;
								
				width: 60px;
				height: 60px;
				
				background-image: url(../images/chat/attached-audio.png);
				background-position: center center;
				background-repeat: no-repeat;
				
				border-radius: 5px;
				border:none;
				
				position: relative;
			}
			
			.page-chat-message-attachment {
				display: block;
				
				
				
				background-color: #fff;
				padding: 12px 17px;
				margin: 10px 5px;
				margin-top: 5px;
				
				box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, .06);
				
				width: 360px;
				height: 250px;
				background-size: cover;
				
				border-radius: 5px;
				border:none;
				
				position: relative;
				
				
				
				&:after {
					position: absolute;
					top: 0; right: 0; bottom:0; left: 0;
					//visibility: hidden;
					// opacity: 0.5;
					transition: all ease 0.3s;
					background-position: center center;
					background-repeat: no-repeat;
					content: '';
					border-radius: 5px;
				}
				
				&:hover {
					
					&:after {
						visibility: visible;
						opacity: 1;
						background-color: rgba(0,0,0,0.4);
					}
				}
				
				&:focus {
					outline: none;
				}
			}
		}
	}
	
	#page-chat-body-textarea {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 90px;
		
		background: #fff;
		padding: 0 15px;
		
		box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.07);
		
		textarea {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			
			resize: none;
			
			border: none;
			width: 100%;
			
			font-family: Roboto;
			font-size: 13px;
			padding: 15px;
			
			font-weight: 300;
			
			padding-right: 110px;
			
			padding-top: 15px;
			
			&.empty { padding-top: 35px; }
			
			transition: all ease 0.3s;
			
			&:focus {
				padding-top: 15px;
				outline: none;
			}	
		}
		
		&.scrollbar {
			#attach {
				right: 95px;
			}
			#quickresponses {
				right: 60px;
			}
			#send {
				right: 25px;
			}
		}
		
		button {
			position: absolute;
			top: 30px;
			right: 10px;
			
			opacity: .7;
			
			background-image: url(../images/attach.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 16px;
			width: 30px;
			height: 30px;
			
			cursor: pointer;
			transition: all ease 0.3s;
			border-radius: 4px;
			
			&:hover {
				opacity: .9;
				background-color: rgba(0,0,0,0.07);
			}
			&:active {
				opacity: 1;
				background-color: rgba(0,0,0,0.18);
				transition: all ease 0.1s;
			}
		}
		#attach {
			right: 85px;
			background-image: url(../images/attach.png);
		}
		#quickresponses {
			right: 50px;
			background-image: url(../images/buttons/button.png);
		}
		#send {
			right: 15px;
			background-image: url(../images/buttons/send.png);
		}
		
		p {
			line-height: 90px;
			font-weight: lighter;
			color: #888;
		}
	}
	
	
}

#page-chat-userinfo {
	width: 20%;
	
	#page-chat-userinfo-scroller {
		max-height: 100vh;
	}
	
	background: #fbfbfb;
	
	hr {
		border:none;
		border-bottom: 1px solid #eee;
		margin: 15px 0;
	}
	
	.page-chat-userinfo {
		padding: 0 15px;
		padding-top: 60px;
		
		&-avatar {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			
			background-size: cover;
			background-position: center center;
			
			margin: 30px auto;			
		}
		
		label {
			font-size: 13px;
			font-weight: 300;
			color: #444;
		}
		
		&-name {
			font-size: 16px;
		}
		&-phone {
			margin-top: -5px;
			font-size: 11px;
			color: #444;
			font-weight: 300;
		}
		&-meta {
			font-size: 13px;
			font-weight: 300;
			color: #444;
			margin-top: 5px;
		}
		
		&-data {
			margin: 15px 0;
			position: relative;
			
			label {
				font-weight: 300;
				color: #666;
				font-size: 12px;
			}
			
			&.comments {
				label {
				}
				.page-chat-userinfo-data-content {
					font-size: 13px;
					font-weight: 300;
					margin-top: 10px;
					color: #222;
				}
			}
			
			&-content {
				font-size: 14px;
			}
			
			&-edit {
				opacity: .2;
				
				width: 15px;
				height: 15px;
				
				padding: 10px;
				
				background-image: url(../images/edit.png);
				background-repeat: no-repeat;
				background-position: center center;
				
				position: absolute;
				top: 2px;
				right: 0;
				
				transition: all ease 0.2s;
				
				cursor: pointer;
				
				&:hover {
					opacity: .7;
				}
				&:active {
					opacity: 1;
				}
			}
		}
		
		
	}
}

// Dropdown
.dropdown {
	position: relative;
}
.dropdown-menu {
	//display: none;
	
	transition: all ease 0.2s;
	transform: scale(0);
	transform-origin: top right;
	opacity: 0;
	visibility: hidden;
	
	&.open {
		//display: block;
		visibility: visible;
		transform: scale(1);
		opacity: 1;
	}
	
	&.dropup-quickresponses {
		transform-origin: bottom right;
		bottom: 70px;
		right: 50px;
		top: auto;
		
		max-width: 500px;
		max-height: 200px;
		overflow-y: scroll;
		
		li {
			a {
				
			}
		}
	}
	
	position: absolute;
	right: 0;
	top: 40px;
	//width: 200px;
	background: #ffffff;
	padding: 10px 0;
	
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border-radius: 3px;
	
	li {
		a {
			padding: 10px 25px;
			color: #333 !important;
			font-weight: lighter;
			display: block;
			&:hover {
				background: #f1f1f1;
			}
		}
	}
}


// Modal
.white-popup {
  position: relative;
  background: #FFF;
  // padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}


html { margin-right: 0 !important; }
.mfp-bg {
	opacity: .3 !important;
}
.modal {
	box-shadow: 0 6px 19px rgba(0, 0, 0, 0.27);
	
	&.modal-narrow {
		max-width: 350px;
	}
	
	.mfp-close {
		height: 60px;
	}
	
	.modal-header {
		background: #f5f5f5;
		padding: 20px;
		
		p {
			font-size: 14px;
			color: #444;
			font-weight: 300;
		}
		
		h1 {
			font-weight: 400;
			font-size: 18px;
		}
	}
	
	.modal-content {
		padding: 30px 20px;
		
		font-size: 15px;
		font-weight: 300;
		
		h2 {
			font-weight: 400;
			font-size: 16px;
			color: #666;
			margin-bottom: 10px;
		}
	}
	
	.modal-footer {
		background: #f5f5f5;
		padding: 13px 20px;
		
		text-align: right;
		
		button {
			border-radius: 3px;
			font-size: 13px;
			
			// font-weight: 300;
			
			text-transform: uppercase;
			letter-spacing: .5px;
			
			background: @green;
			color: #fff;
			
			padding: 11px 10px;
			margin: 0 3px;
			
			min-width: 135px;
			
			transition: all ease 0.2s;
			
			&:hover {
				opacity: .8;
			}
			&:active {
				opacity: 1;
			}
			
			&.primary {
				background: @green;
				color: #fff;
			}
			&.secondary {
				background: #e3e3e3;
				color: #333;
			}
		}
	}
}
/* overlay at start */
.mfp-bg {
	-webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.3;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
transform: scale(0.5);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0.5);
}




.panels-wrapper {
	padding: 0 10px;
	
	h1 {
		font-size: 20px;
		padding: 10px 20px 0px 20px;
	}
	h2 {
		font-weight: 300;
		font-size: 16px;
		padding: 10px 20px 0px 20px;
		color: #666;
	}
}
.panel {
	background: #fff;
	font-weight: 300;
	margin: 10px 0;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
	
	h2 {
		font-size: 16px;
		margin-bottom: 9px;
		font-weight: 400;
		padding: 0;
	}
	
	.panel-header {
		background-color: #f7f7f7;
		padding: 15px 20px;
		
		p {
			font-size: 16px;
			color: #444;
			font-weight: 300;
			display: inline-block;
			padding: 5px 0;
		}
		
		button.button-circle {
			position: absolute;
			top: 30px;
			right: 20px;
		}
		
		.pull-right {
			float: right;
			margin-right: 0;
			text-align: right;
			
			.form-group {
				margin-right: 0;
				margin-left: 15px;
			}
		}
			
		.form-group {
			display: inline-block;
			margin: 0;
			
			width: 190px;
			
			margin-right: 15px;
			
			&.fg-checkbox {
				width: auto;
				margin-right: 50px;
			}
			
			&.fg-labeled {
				margin-left: 20px;
				width: auto;
				margin-right: 0;
				
				label {
					width: 30px;
					padding-right: 7px;
					font-weight: 400;
				}
				.fg-input {
					width: 140px;
				}
			}
			
			&.fg-submit {
				width: auto;
				margin-left: 20px;
				
				input {
					background-color: @green;
					border: none;
					background-image: url(../images/buttons/search-white.png);
					background-position: center center;
					background-repeat: no-repeat;
					
					width: 40px;
					height: 40px;
					
					display: block;
					cursor: pointer;
					margin-top: -12px;
					
					border-radius: 50%;
					z-index: 20;
					
					box-shadow: 0 3px 10px rgba(0, 0, 0, 0.27);
					
					transition: all ease 0.2s;
					
					&:hover {
						transform: scale(1.1);
					}
					&:active {
						transform: scale(0.9);
						
					}
				}
			}
			
			
			
			label {
				display: inline-block;
			}
			
			.fg-input {
				display: inline-block;
				background-color: transparent;
				padding: 0;
				line-height: normal;
				height: 32px;
				
				// width: auto;
				&:focus {
					border-bottom-width: 1px;
				}
				
				
			}
			
			
		}
	}
	
	.panel-content {
		padding: 20px;
	}
	
	.panel-footer {
		background: #f5f5f5;
		padding: 20px;
		
		text-align: right;
		
		button {
			border-radius: 3px;
			font-size: 13px;
			
			// font-weight: 300;
			
			text-transform: uppercase;
			letter-spacing: .5px;
			
			background: @green;
			color: #fff;
			
			padding: 11px 10px;
			margin: 0 3px;
			
			min-width: 135px;
			
			transition: all ease 0.2s;
			
			&:hover {
				opacity: .8;
			}
			&:active {
				opacity: 1;
			}
			
			&.primary {
				background: @green;
				color: #fff;
			}
			&.secondary {
				background: #e3e3e3;
				color: #333;
			}
		}
	}
}

.button-circle {
	background-color: @green;
	
	background-image: url(../images/buttons/plus-white.png);
	background-position: center center;
	background-repeat: no-repeat;
	
	width: 52px;
	height: 52px;
	
	border-radius: 50%;
	z-index: 20;
	
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.27);
	
	transition: all ease 0.2s;
	
	&:hover {
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.9);
		
	}
}


/* Inputs */
.form-group {
	margin-bottom: 30px;
			
	label {
		font-size: 12px;
		font-weight: 400;
		color: #333;
	}
	
	&.fg-last {
		margin-bottom: 10px;
	}
	
	.fg-input {
		display: block;
		
		font-family: 'Roboto';
		
	    width: 100%;
	    height: 35px;
	    padding: 6px 0px;
	    font-size: 13px;
	    line-height: 1.42857143;
	    color: #000;
	    
	    background-color: #ffffff;
	    background-image: none;
	    
	    border: none;
	    border-bottom: 1px solid #ddd;
	    
	    border-radius: 0;
	    transition: all ease-in-out .15s;
	    
	    &:focus {
		    border-bottom: 2px solid @green;
	    }
	    
	    &.icon {
		    background-position: left center !important;
		    background-repeat: no-repeat !important;
		    padding-left: 22px !important;
		    
		    &.icon-search {
				background-image: url(../images/search.png);    
		    }
	    }
	    
	    &.fg-date {
			background-image: url(../images/select.png) !important;
			background-position: right 73% !important;
			background-repeat: no-repeat !important;
		}
	}
	
	select.fg-input {
		background: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-weight: 300;
		
		background-image: url(../images/select.png);
		background-position: right 73%;
		background-repeat: no-repeat;
		
		cursor: pointer;
		
		&:focus {
			outline: none !important;
		}
	}
	
	textarea.fg-input {
		font-family: 'Roboto';
		font-weight: 300;
		border-top: 1px solid transparent;
		padding: 10px 0;
		margin-top: 10px;
		
		&:focus {
			outline: none !important;
			border-top: 1px solid #eee;
			
			padding: 10px;
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}
		min-height: 90px;
	}
	
	.fg-checkbox {
		
	}
	.fg-checkbox-label {
		font-size: 14px;
		color: #444;
		font-weight: 300;
	}
}

.page-content {
	min-height: 90vh;
}
.page-content>.row {
	margin: 0;
	margin-top: 20px;
	.panels-wrapper {
		padding: 0;
	}
	.panel {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

// Navbar
.page-navbar {
	width: 100%;
	height: 60px;
	position: relative;
	z-index: 100;
	background: #f8f8f8;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
	
	#operator {
		right: 0;
		margin-right: 0;
	}
	
	
	.page-navbar-scroll {
		position: relative;
		margin-right: 220px;
		overflow: hidden;
		
		
		.page-navbar-tabs {
			padding-left: 20px;
			padding-right: 20px;
		
			margin-right: 0;
			transition: margin ease 0.2s;
		}
	}
	.pns-l,.pns-r {
		display: block;
		cursor: pointer;
		
		background-color: #f8f8f8;
		border-left: 1px solid #f1f1f1;
		border-right: 1px solid #f1f1f1;
		
		position: absolute;
		
		width: 30px;
		top: 0;
		bottom: 1px;
		
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 16px;
		
		transition: all ease 0.2s;
		
		&:hover {
			background-color: #f1f1f1;
		}
	}
	.pns-l {
		left: 0;
		background-image: url(../images/scroll-left.png);
	}
	.pns-r {
		right: 0;
		background-image: url(../images/scroll-right.png);
	}
}

.panel-content .data-table,
.modal-content .data-table {
	margin: -15px -20px;
}
.panel-content .data-table {
	margin-bottom: -20px;
}

// Data-table
.data-table {
	table {
	
		th,td {
			padding: 13px 20px;
			font-size: 13px;
		}
		
		th {
			text-align: left;
			font-weight: 400;
			
			text-transform: uppercase;
			letter-spacing: .5px;
			
			&.sortable {
				background-image: url(../images/table-sort.png);
				background-position: 90% center;
				background-repeat: no-repeat;
					
				&:hover {
					background-color: #f1f1f1;
					cursor: pointer;
					
				}
			}
		}
		
		tr:hover td {
			background: #f6efef !important;
		}
		
		td {
			transition: background ease 0.15s;
			color: #111;
			vertical-align: top;
			
			button {
				background-color: #fff;
				background-repeat: no-repeat;
				background-position: center center;
				
				background-size: 12px;
				
				width: 30px;
				height: 30px;
				border-radius: 50%;
				
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
				margin-top: -5px;
				margin-bottom: -5px;
				
				float: right;
				margin-left: 10px;
				
				transition: all ease 0.2s;
				
				
				&.edit { background-image: url(../images/button-edit.png); }
				&.menu { background-image: url(../images/buttons/button.png); }
				&.remove { background-image: url(../images/button-remove.png); }
				
				&:hover {
					transform: scale(1.1);
				}
				&:active {
					transform: scale(0.9);
					
				}
			}
		}
		
		tr:nth-child(odd) td {
			background: #fafafa;
		}
		
		.form-group {
			margin-bottom: 5px;
		}
		.fg-input {
			background-color: transparent;
		}
	}
	
	.pagination {
		// margin-top: 30px;
		margin-bottom: -20px;
		padding: 20px;
		background: #fafafa;
		
		li {
			display:inline-block;
			margin-right: -3px;
		}
		
		li.active a {
			color: #fff;
			background: @green;
		}
		li.disabled a {
			color: #999;
			background: #f1f1f1;
		}
		
		a {
			display: inline-block;
			
			background: #e2e2e2;
			width: 40px;
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
			
			border-radius: 50%;
			
			margin-right: 10px;
			text-align: center;
			
			color: #555;
			font-size: 14px;
			
			transition: all ease 0.15s;
			&:hover {
				transform: scale(1.1);
			}
			&:active {
				transform: scale(0.9);
			}
		}
	}
}

body .pickmeup {
  background: @green;
  border-radius: 0;
}
body .pickmeup .pmu-instance .pmu-selected {
  background: #fff;
  color: @green;
}
body .pickmeup .pmu-instance .pmu-today {
  background: @green;
  color: #f0a503;
}


.page-scroller {
	max-height: 100vh;
	position: relative;
}




.page-navbar-tabs,
.panel-header-tabs {
	ul {
		margin-left: 20px;
		li {
			display: inline-block;
			
			&.active {
				
				a {
					border-bottom: 3px solid #03dc6f;
				}
			}
			a {
				line-height: 58px;
				padding: 0 30px;
				color: #111;
				display: block;
				font-weight: 300;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: .8px;
				&:hover {
					border-bottom: 3px solid #ccc;
				}
			}
		}
	}
}


.page-navbar-tabs {
	margin-right: 220px;
	
	ul { margin-left: 10px;  width: auto; white-space: nowrap; }
	ul li {
		
		a {
			padding: 0 20px;
			letter-spacing: .8px;
			
			font-size: 12px;
		}
	}
}


.panel-header-tabs {
	margin: -15px -20px;
	padding-top: 3px;
	ul {
		margin-left: 0;
		
		li {
			a {
				line-height: 50px;
				font-size: 11px;
			}
		}
	}
}
.panel-header {
	position: relative;
}
.panel-header-right {
	position: absolute;
    right: 0;
    top: 10px;
}


.circle {
	background: #ccc;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	
	text-indent: 20px;
	font-size: 11px;
	color: #666;
	
	display: block;
	margin-top: 3px;
	    
	&.green { background: @green; }
	&.yellow { background: yellow; }
	&.orange { background: orange; }
	&.red { background: red; }
	&.gray { background: gray; }
}

a.circle {
	&:hover {
		transform: scale(1.14);
		color: rgba(0,0,0,0);
	}
	&:active {
		transform: scale(0.97);
	}
	
	&.green:hover {
		background: gray;
		
	}
	&.gray:hover {
		background: @green;
	}
}

.settings-account-type {
	background-image: url(../images/messengers/whatsapp.png);
	background-position: left center;
	background-size: 26px;
	background-repeat: no-repeat;
	
	display: inline-block;
	
	padding-left: 35px;
	
	line-height: 26px;
	margin: -5px 0;
	
	&.whatsapp { background-image: url(../images/messengers/whatsapp.png); }
	&.facebook { background-image: url(../images/messengers/facebook.png); }
	&.instagram { background-image: url(../images/messengers/instagram.png); }
	&.odnoklassniki { background-image: url(../images/messengers/odnoklassniki.png); }
	&.skype { background-image: url(../images/messengers/skype.png); }
	&.viber { background-image: url(../images/messengers/viber.png); }
	&.vk { background-image: url(../images/messengers/vk.png); }
}
.account-type-messenger {
	background-image: url(../images/messengers/whatsapp.png);
	background-position: left center;
	background-size: 32px;
	background-repeat: no-repeat;
	
	display: inline-block;
	
	padding-left: 40px;
	margin: 15px 0;
	color: #222;
	
	line-height: 32px;
	
	display: block;
	
	&.whatsapp { background-image: url(../images/messengers/whatsapp.png); }
	&.facebook { background-image: url(../images/messengers/facebook.png); }
	&.instagram { background-image: url(../images/messengers/instagram.png); }
	&.odnoklassniki { background-image: url(../images/messengers/odnoklassniki.png); }
	&.skype { background-image: url(../images/messengers/skype.png); }
	&.viber { background-image: url(../images/messengers/viber.png); }
	&.vk { background-image: url(../images/messengers/vk.png); }
	
	&.add {
		font-family: Roboto;
		font-weight: 300;
		color: #333;
		text-transform: uppercase;
		
		letter-spacing: .4px;
		font-size: 11px;
	}
}


.modal-data {
	max-width: 750px;
	.modal-content {
		padding-top: 0;
	}
}

button.data-menu {
	background-image: url(../images/buttons/button.png);
}


// Settings
.modal-account {
	max-width: 410px;
	@accent: @green;
	
	&.modal-account-whatsapp {
		@accent: #48be32;
		
		
		.modal-header {
			background-color: @accent;
			border-top: 3px solid darken(@accent, 10%);
			background-image: url(../images/add-messenger/whatsapp.png);
		}
		
		.modal-content .fg-input {
			&:focus {
				border-bottom-color: @accent;
			}
		}
		
		.modal-footer {
			button.primary {
				background: @accent;
			}
		}
	}
	
	&.modal-account-facebook {
		@accent: #435b9a;
		
		.modal-header {
			background-color: @accent;
			border-top: 3px solid darken(@accent, 10%);
			background-image: url(../images/add-messenger/facebook.png);
		}
		
		.modal-content .fg-input {
			&:focus {
				border-bottom-color: @accent;
			}
		}
		
		.modal-footer {
			button.primary {
				background: @accent;
			}
		}
	}
	
		
	.mfp-close  { color: #fff !important; opacity: 0;display: none; }
	
	.modal-header {
		color: #fff;
		p { color: #fff; }
		
		background-color: @accent;
		border-top: 3px solid darken(@accent, 10%);
		padding-top: 25px;
		padding-bottom: 25px;
		
		background-repeat: no-repeat;
		background-position: 95% center;
	}
	
	.modal-content {
		p {
			font-size: 13px;
			margin-bottom: 15px;
		}
		
		.fg-input {
			&:focus {
				border-bottom-color: @accent;
			}
		}
		
		.activation { 
			padding: 85px 0 65px 0;
		}
		
		label.fg-checkbox-label {
			font-size: 13px;
		    line-height: 1.4;
		    /* text-indent: 70px; */
		    margin-left: 30px;
		    margin-top: -19px;
		    display: inline-block;
		}
		
		.done {
			text-align: center;
			padding-top: 170px;
			padding-bottom: 50px;
			font-size: 17px;
			font-weight: 300;
			color: #333;
			
			background-image: url(../images/add-messenger/done.png);
			background-position: center 30%;
			background-repeat: no-repeat;
		}
		
		.error {
			text-align: center;
			padding-top: 170px;
			padding-bottom: 50px;
			font-size: 17px;
			font-weight: 300;
			color: #333;
			
			background-image: url(../images/add-messenger/error.png);
			background-position: center 30%;
			background-repeat: no-repeat;
		}
	}
	
	.modal-footer {
		button.primary {
			background: @accent;
		}
	}
	
}


// Add user
.modal-add-user {
	
	max-width: 410px;
	
	.modal-header {
		// TODO: Company Logo
		text-align: center;
		
		.company-info {
			margin-top: 15px;
			margin-bottom: 25px;
			
			.company-logo {
				
			}
			.company-name {
				font-size: 15px;
				font-weight: 400;
				word-break: break-all;
				word-wrap: break-word;
			}
		}
		
		p {
			text-transform: uppercase;
			letter-spacing: .4px;
			color: #444;
			font-size: 11px;
		}
	}
	
	.modal-content {
		.form-group {
			margin-bottom: 20px;
			&.fg-last {
				margin-bottom: 0px;
			}
		}
	}
}


#page-settings-company {
	.account-type-messenger {
		margin: 10px 0;
	}
	
	.settings-company-logo {
		background-color: #f7f7f7;
		width: 190px;
		height: 190px;
		
		background-repeat: no-repeat;
		background-position: center center;
		
		position: relative;
		
		&-edit {
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			
			background-image: url(../images/edit.png);
			background-position: center center;
			background-repeat: no-repeat;
			
			width: 20px;
			height: 20px;
			
			opacity: .3;
			
			&:hover {
				opacity: .6;
			}
		}
	}
	
	.settings-company-info {
		margin-top: 15px;
		
		margin-bottom: 20px;
		
		&-name {
			font-size: 22px;
			font-weight: 500;
		
			margin-bottom: 10px;
			line-height: 1.2;
		
			word-break: break-all;
			white-space: pre-wrap;
			
			&-edit {
				display: inline-block;
				
				background-image: url(../images/edit.png);
				background-position: center center;
				background-repeat: no-repeat;
				
				width: 20px;
				height: 20px;
				
				opacity: .3;
				
				&:hover {
					opacity: .6;
				}
			}
		}
		
		&-tarif {
			font-size: 15px;
		}
		&-licence {
			font-size: 13px;
		}
		&-users {
			font-size: 13px;
			color: #777;
			margin-top: 3px;
		}
	}
	
	.sc-tarif {
		position: relative;
		padding: 10px 15px;
		
		&-select {
			position: absolute;
			top: 8px;
			right: 0;
			text-align: center;
			
			p {
				font-size: 11px;
				padding-top: 3px;
				color: #555;
			}
			
			button {
				border-radius: 3px;
				font-size: 12px;
				
				text-transform: uppercase;
				letter-spacing: .5px;
				
				background: @green;
				color: #fff;
				
				padding: 9px 12px;
				margin: 0;
				
				min-width: 100px;
				
				transition: all ease 0.2s;
				
				&:hover {
					opacity: .8;
				}
				&:active {
					opacity: 1;
				}
				
				&.primary {
					background: @green;
					color: #fff;
				}
				&.secondary {
					background: #e3e3e3;
					color: #fff;
				}
			}
		}
		
		&-title {
			font-size: 22px;
			font-weight: 400;
		}
		&-subtitle {
			font-size: 13px;
			color: #777;
		}
		
		&-price {
			margin-top: 20px;
			margin-bottom: 25px;
			
			&-amount {
				font-size: 32px;
				font-weight: 400;
				i {
					font-style: normal;
					font-size: 22px;
					font-weight: 300;
				}
			}
			
			&-text {
				i {
					color: #777;
				}
			}
		}
		
		
		&-addprice {
			margin: 5px 0;
			color: #333;
			
			.price {
				font-size: 22px;
				font-weight: 400;
				i {
					font-size: 15px;
					font-style: normal;
					font-weight: 300;
				}
			}
		}
		&-support {
			padding: 5px 0;
			padding-left: 30px;
			
			color: #333;
			
			background-image: url(../images/tarif-support.png);
			background-position: left center;
			background-repeat: no-repeat;
			
		
		}
	}
}


// Edit group
.modal-edit-group {
	.ps-scroller {
		max-height: 240px !important;
	}
	.form-group {
		margin-top: -18px;
		margin-bottom: 18px;
	}
	.operators-list {
		margin-top: 0;
	}
	
	.label {
		background-color: #f7f7f7;
		font-size: 12px;
		letter-spacing: .5px;
		text-transform: uppercase;
		color: #777;
		padding: 12px 20px;
		
		margin: 0 -20px;
	}
	.modal-chat-as-operator-item-forward.delete {
		background-color: #fff;
		color: #888;
		font-size: 16px;
	}
}



#page-report-main {
	.page-content {
		position: relative;
		
	}
	.page-report-main-content {
		position: absolute;
		top: 0;
		right: 220px;
	}
	
	
	.page-report-main-sidebar {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0;
		width: 220px;
		
		.panel {
			margin-top: 0;
			margin-bottom: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			
			.panel-header {
				padding: 12px 20px;
				text-align: center;
				p {
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: .5px;
				}
			}
			
			.panel-content {
				.ps-scroller {
					position: absolute;
				    top: 69px;
				    bottom: 20px;
				    right: 20px;
				    left: 20px;
				    max-height: none;
				}
				
				.modal-chat-as-operator-item {
					padding: 11px 20px 8px 0;
				}
				.modal-chat-as-operator-item .modal-chat-as-operator-item-avatar-image {
					width: 44px;
					height: 44px;
					top: -7px;
				}
				.modal-chat-as-operator-item .modal-chat-as-operator-item-name {
					font-size: 14px;
				}
				.modal-chat-as-operator-item .modal-chat-as-operator-item-contact {
					font-size: 11px;
				}
				
				.modal-chat-as-operator-item .modal-chat-as-operator-item-avatar {
					left: 14px;
				}
				.modal-chat-as-operator-item .modal-chat-as-operator-item-content {
					padding-top: 4px;
					padding-left: 68px;
				}
				.circle {
					position: absolute;
					right: 10px;
					top: 27px;
				}
			}
		}
	}
	
	
	
	.operators-list {
		max-height: 70vh;
		margin: -20px;
	}
	
	.report-item {
		padding: 0 40px;
		
		h2 {
			font-size: 16px;
			font-weight: 400;
			
			border-bottom: 1px solid #eee;
			padding: 10px 0;
			
			color: #111;
			
			background-image: url(../images/report-chats.png);
			background-position: right center;
			background-repeat: no-repeat;
		}
		
		&-chats       h2 { background-image: url(../images/report-chats.png); }
		&-messages    h2 { background-image: url(../images/report-messages.png); }
		&-attachments h2 { background-image: url(../images/report-attachments.png); }
		
		tr {
				td { padding: 4px 0px; }
				td.title {
					color: #444;
				}
				td.val {
					text-align: right;
				}
			}
			
	}
	
	.report-graph {
		background-color: #fafafa;
		
		margin: -20px;
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 10px;
		text-align: center;
	}
}


// Gallery
.gallery-wrapper {
	.gallery-item {
		display: inline-block;
		text-align: center;
		
		padding: 15px;
		margin: 3px;
		
		border: 2px solid transparent;
		
		&-preview {
			width: 130px;
			height: 130px;
			background-color: #f1f1f1;
			
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.gallery-item-audio .gallery-item-preview {
			background-image: url(../images/audio.png);
			background-size: 32px;
		}
		
		&-title {
			margin-top: 8px;
			text-align: center;
			font-size: 12px;
		}
		
		
		transition: border-color ease 0.15s;
		&:hover {
			border-color: #f1f1f1;
		}
		&.selected {
			border-color: @green;
			.gallery-item-title {
				font-weight: 400;
			}
		}
	}
}


.page-navbar-menu {
	.menu {
		right: 230px;
		
		&.menu-left {
			left: 15px;
		}
	}
	
	.search {
		display: inline-block;
		width: 300px;
		
		input {
			background-image: url(../images/search.png);
			background-position: 15px center;
			background-repeat: no-repeat;
			
			border: 1px solid #e1e1e1;
			padding-left: 80px;
			margin-top: 12px;
			margin-left: 15px;
			
			line-height: 30px;
			font-size: 13px;
			width: 100%;
			
			border-radius: 4px;
			
			transition: all ease 0.3s;
			
			&:focus {
				padding-left: 40px;
				border-color: #bbb;
			}
		}
	}
}

.panel-menu {
	margin-top: 25px;
	h2 {
		font-weight: 400;
		font-size: 18px;
		padding: 0px 20px 0px 20px;
		color: #222;
		margin-bottom: 15px;
	}
	
	ul {
		margin-left: 20px;
	}
	li {
		a {
			margin-top: 5px;
		    display: block;
		    
		    padding: 11px 15px;
		    margin-left: -15px;
		    
		    font-size: 16px;
		    font-weight: 300;
		    color: #333;
		    
		    border-radius: 5px;
		    
		    &:hover {
			    background-color: rgba(0,0,0,0.02);
			    color: #111;
		    }
		    &:active {
			    background-color: rgba(0,0,0,0.1);
		    }
		    
		}
		&.active a {
		    background-color: rgba(0,0,0,0.07);
		    // color: #666;
	    }
	}
}


.fg-input.fg-tall {
	min-height: 300px !important;
	resize: none;
}
.page-mail-templates-placeholders {
	
	h3 {
		margin-bottom: 20px;
		font-size: 12px;
	    font-weight: 400;
	    color: #333;
	}
	
	ul li {
		margin-bottom: 5px;
	}
	
	.pmtp-name {
		color: purple;
	}
	.pmtp-value {
		// font-style: italic;
		color: #666;
	}
	
}

.panel-content .row .tips {
	p {
		margin-bottom: 10px;
		color: #444;
	}
}
.panel-content>.row.row-form {
	margin-top: 10px;
}




@import url('contacts.less'); // Contacts page
@import url('chats.less'); // Contacts page
@import url('archive.less'); // Archive page
// @import url('quickresponses.less'); // Quickresponses page
@import url('login.less'); // Login page


