/**
 * New Project Boilerplate
 *
 * me@ernest.asia
 *
 * @fileoverview Responsive.less
 */
 
.only-xs { display: none; }
.only-md { display: block; }

@media screen and (max-width: 640px) {
	.only-xs { display: block; }
	.only-md { display: none; }
	
	/* Your code goes here... */
	
}